<li class="">
  <a href="/bm/profile">
    <i class="fa fa-user"></i> <span>Profile</span>
  </a>
</li>
<li class="">
  <a href="/bm/revenue">
    <i class="fa fa-usd"></i> <span>Revenue</span>
  </a>
</li>
<li class="">
  <a href="/bm/product_update">
    <i class="fa fa-product-hunt"></i><span>Product Update</span>
  </a>
</li>
<li class="treeview menu-close">
  <a href="#">
    <i class="fa fa-file"></i>
    <span>Master Data</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="/bm/table"><i class="fa fa-circle-o"></i>Master Table</a></li>
    <li><a href="/bm/product_category"><i class="fa fa-circle-o"></i>Master Product Category</a></li>
    <li><a href="/bm/product_group"><i class="fa fa-circle-o"></i>Master Product Group</a></li>
    <li><a href="/bm/product"><i class="fa fa-circle-o"></i>Master Product</a></li>
    <li><a href="/bm/payment"><i class="fa fa-circle-o"></i>Master Payment</a></li>
    <li><a href="/bm/discount"><i class="fa fa-circle-o"></i>Master Discount</a></li>
    <li><a href="/bm/news"><i class="fa fa-circle-o"></i>Master News</a></li>
  </ul>
</li>
<li class="">
  <a href="/bm/setting">
    <i class="fa fa-cog"></i> <span>Setting</span>
  </a>
</li>
<li class="">
  <a href="/signout">
    <i class="fa fa-sign-out"></i> <span>Sign Out</span>
  </a>
</li>
