<li class="">
  <a href="/sm/profile">
    <i class="fa fa-user"></i> <span>Profile</span>
  </a>
</li>
<li class="">
  <a href="/sm/stock">
    <i class="fa fa-clock-o"></i> <span>Stock</span>
  </a>
</li>
<li class="">
  <a href="/sm/delivery_order">
    <i class="fa fa-truck"></i> <span>Delivery Orders</span>
  </a>
</li>
<li class="">
  <a href="/signout">
    <i class="fa fa-sign-out"></i> <span>Sign Out</span>
  </a>
</li>
