<li class="">
  <a href="/ho/notification">
    <i class="fa fa-bell-o "></i> <span>Notification</span>
  </a>
</li>
<li class="">
  <a href="/ho/profile">
    <i class="fa fa-user"></i> <span>Profile</span>
  </a>
</li>
{{!-- <li class="">
  <a href="/ho/item">
    <i class="fa fa-cubes"></i> <span>Item</span>
  </a>
</li>
<li class="">
  <a href="/ho/item_category">
    <i class="fa fa-cubes"></i> <span>Item Category</span>
  </a>
</li> --}}
<li class="">
  <a href="/ho/receiving_goods">
    <i class="fa fa-clock-o "></i> <span>Receiving Goods</span>
  </a>
</li>
<li class="">
  <a href="/ho/delivery_order">
    <i class="fa fa-truck"></i> <span>Delivery Orders</span>
  </a>
</li>
{{!-- <li class="">
  <a href="/ho/supplier">
    <i class="fa fa-handshake-o"></i> <span>Supplier</span>
  </a>
</li>
<li class="">
  <a href="/ho/customer">
    <i class="fa fa-user"></i> <span>Customer</span>
  </a>
</li> --}}
<li class="treeview menu-close">
  <a href="#">
    <i class="fa fa-file"></i>
    <span>Stock</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="/ho/stock"><i class="fa fa-circle-o"></i>Initial Stock</a></li>
    <li><a href="/ho/active_stock"><i class="fa fa-circle-o"></i>Active Stock</a></li>
    <li><a href="/ho/stock_transaction"><i class="fa fa-circle-o"></i>Stock Transaction History</a></li>
  </ul>
</li>
<li class="treeview menu-close">
  <a href="#">
    <i class="fa fa-file"></i>
    <span>Master Data</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="/ho/unit"><i class="fa fa-circle-o"></i>Master Unit</a></li>
    <li><a href="/ho/item_category"><i class="fa fa-circle-o"></i>Master Item Category</a></li>
    <li><a href="/ho/item"><i class="fa fa-circle-o"></i>Master Item</a></li>
    <li><a href="/ho/user"><i class="fa fa-circle-o"></i>Master User</a></li>
    <li><a href="/ho/supplier"><i class="fa fa-circle-o"></i>Master Supplier</a></li>
    <li><a href="/ho/customer"><i class="fa fa-circle-o"></i>Master Customer</a></li>
  </ul>
</li>
<li class="treeview menu-close">
    <a href="#">
      <i class="fa fa-file"></i>
      <span>Report</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="/ho/restock_report/supplier"><i class="fa fa-circle-o"></i>Restock by Supplier</a></li>
      <li><a href="/ho/restock_report/item"><i class="fa fa-circle-o"></i>Restock by Item</a></li>
      <li><a href="/ho/do_report/store"><i class="fa fa-circle-o"></i>Delivery Order by Store</a></li>
      <li><a href="/ho/do_report/item"><i class="fa fa-circle-o"></i>Delivery Order by Item</a></li>      
    </ul>
</li>
<li class="">
  <a href="/signout">
    <i class="fa fa-sign-out"></i> <span>Sign Out</span>
  </a>
</li>
