<li class="">
  <a href="/admin/profile">
    <i class="fa fa-user"></i> <span>Profile</span>
  </a>
</li>
<li class="">
  <a href="/admin/product">
    <i class="fa fa-product-hunt "></i> <span>Product</span>
  </a>
</li>
<li class="">
  <a href="/admin/news">
    <i class="fa fa-book"></i> <span>News</span>
  </a>
</li>
<li class="">
  <a href="/admin/revenue">
    <i class="fa fa-usd"></i> <span>Revenue</span>
  </a>
</li>
<li class="">
  <a href="/admin/user">
    <i class="fa fa-user"></i> <span>User</span>
  </a>
</li>
<li class="">
  <a href="/admin/brand">
    <i class="fa fa-address-card"></i> <span>Brand/Store</span>
  </a>
</li>
<li class="">
  <a href="/admin/ho">
    <i class="fa fa-building "></i> <span>Head Office</span>
  </a>
</li>
<!-- <li class="">
  <a href="/admin/product_report">
    <i class="fa fa-table"></i> <span>Product Report</span>
  </a>
</li> -->
<li class="">
  <a href="/admin/revenue_report">
    <i class="fa fa-table"></i> <span>Revenue Report</span>
  </a>
</li>
<!-- <li class="">
  <a href="/admin/user_report">
    <i class="fa fa-table"></i> <span>User Report</span>
  </a>
</li> -->
<li class="">
  <a href="/signout">
    <i class="fa fa-sign-out"></i> <span>Sign Out</span>
  </a>
</li>
