<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="admin-lte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="admin-lte/css/skins/_all-skins.min.css">
    <style>
      .error {
        color: red
      }
      .success {
        color: green;
      }
    </style>
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>Price</b>Sync</a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Change Password</p>
        <form action="" method="post">
          <div class="form-group has-feedback">
            <label>New Password</label>
            <input type="password" class="form-control" name="password" placeholder="New Password" required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <label>Cofirm New Password</label>
            <input type="password" class="form-control" name="conf_password" placeholder="Confirm New Password" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
          <div class="col-xs-12 centered-content">
            <a href="forgot_password">Forgot Password</a>
          </div>
        </form>


      </div>
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

    <!--Load bootstrap.js file-->
    <script src="js/bootstrap.js"></script>
  </body>
</html>
