.centered-content{
  text-align: center;
}
.btn-filter{
  padding-top: 10px;
padding-bottom: 10px;
}

.form-group .time_pick .timepicker_wrap  {
  z-index: 1100;
}

.logo-brand{
  display: block;
  max-width: 175px;
  height: auto;
}

.left-label label{
  text-align: left;
}

/**---------------------open style for profile page------------------------------**/
.pos-form-pro {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 20px;
  border: solid 1px #000;
  overflow: hidden;
}
.table-custom {
  width: 50%;
  margin: 0 auto 30px;
}
/**---------------------close style for profile page------------------------------**/

/**---------------------open style for dasboard mabager product page------------------------------**/
.pos-con-head-for-pro-manager {
  width:100%;
  padding:30px;
  margin-bottom:30px;
  float:left;
}
.card-pro {
  width:25%;
  float:left;
}
.pos-con-pro {
  padding:10px;
  margin:15px;
  border:2px solid #000;
  text-align:center;
}
.pos-char {
  width:100%;
  float:left;
  padding:10px;
}
.pos-data-table {
  width:100%;
  float:left;
  padding:10px;
}
table {
  background:rgb(114,169,239,0.24)
}
table thead tr {
  background:#979ac5;
}
.table thead tr th {
  padding:15px;
}
.head-table {
  width:100%;
  float:left;
}
.head-table .content-left {
  width:50%;
  float:left;
  text-align:left;
  padding:15px;
}
.head-table .content-right {
  width:50%;
  float:left;
  text-align:right;
  padding:15px;
}
.title-content {
  font-size:30px;
}
.pos-in-filter {
  width:25%;
  float:left;
}
.pos-in-filter .btn-left{
  width:50%;
  float:left;
}
.pos-in-filter .btn-right{
  width:50%;
  float:left;
}
.icon-to-pro {
  color: #fff;
background: #000;
padding: 6px;
border-radius: 46px;
}
.pos-con-pro .card-head span {
  font-size:40px;
}
.pos-con-pro .card-head .icon-to-pro {
  font-size: 28px;
    color: #fff;
    background: #333;
    padding: 3px 13px;
    border-radius: 46px;
    margin: 18px 0;
}
.pos-con-pro .card-body p {
  padding:10px;
}
.pos-con-pro .card-foot p {
  font-size:40px;
}
.modal-content .modal-body form .form-col .form-group {
  overflow:hidden;
}
.modal-content .modal-body form .form-col .form-group label{
  width:35%;
  float:left;
}
.modal-content .modal-body form .form-col .form-group .form-control {
  width:50%;
  /* float:left; */
}
.modal-content .modal-body form .form-col .form-group select {
    width: 50%;
    padding: 6px;
    margin-left: -86px;
  }
/**---------------------close style for dasboard mabager product page------------------------------**/

/**---------------------close style for news brand page------------------------------**/
.table-news-brand {

}
.filter-data-table {
  margin-bottom:15px;
  width: 100%;
float: left;
}
.custom-button-create:focus {
  outline:none;
}
.top-cont {
  margin-bottom:30px;
}
.inblock{

    display: inline-block;
}
.top-cont .head-tex ul {
  list-style:none;
  display:-webkit-box;
  padding:0;
}
.top-cont .head-tex ul li {
  font-size:30px;
  padding:10px 20px 10px 0;
  margin:0 60px 0 0;
}
.custom-button-create {
  padding:5px 15px;
  background:#22265f;
  color:#fff;
  border-radius:10px;
}
.red-star {
  color:red;
  color:20px;
}
/**---------------------close style for news brand page------------------------------**/


/* edited by wiky */

.inner h3 {
  font-size: 30px !important
}

.btn-flex{
  margin: 0px 5px 0px 0px !important;
}

.hidden{
  visibility: hidden
}

.table th, .table td{
  vertical-align: middle !important
}

.inline-options{
  position: absolute;
}

.dashboard-bm .chart text {
  fill: #000
}

.btn-option {
  display: block;
  width: 50px;
}

@media screen and (max-width: 767px){
  .inline-options{
    text-align: center;
    margin-bottom: inherit;
    position: initial;
  }
}

/* -------------------- product page ---------------------- */
#add_unit .modal-content .modal-body{
  text-align: left
}

#add_unit_form{
  padding: 15px
}

.unit_type_div{
  margin-bottom: 7vh;
  text-align: center
}

.unit_type_div > label{
  font-size: 16px;
}

.unit_type_div .radio{
  display: inline-block;
  margin: 0 10px 0 0;
}

.highest_unit_div .highest_unit_name{
  width: 25% !important;
}

.highest_unit_div .highest_unit_conversion{
  width: 15% !important;
}

.highest_unit_div #lowest_unit_ref{
  margin-left: 0
}

.highest_unit_div .highest_unit_name_field input{
  display: inline-block
}

.foot-btn-form-create{
  text-align: center;
  margin-top: 7vh;
}

/* --------------- Delivery Order ------------ */

.searchable-multiselect .fs-wrap.multiple{
  width: 50%;
  float: left;
}

.searchable-multiselect .fs-label{
  text-align: left
}

#pre_create_delivery_order_form .foot-btn-form-create{
  margin-bottom: 10px
}


#create_delivery_order_form .dataTables_info{
  margin-bottom: 20px
}

#invoice_delivery_order_table #edit_delivery_order_table_filter,
#invoice_delivery_order_table #edit_delivery_order_table_paginate,
#invoice_delivery_order_table #edit_delivery_order_table_info{
  display: none
}

@media screen and (min-width: 768px){
  #create_delivery_order_form .btn-save{
    margin-top: -42px;
    padding-left: 0
  }
}

@media screen and (max-width: 767px){
  #create_delivery_order_form .btn-save{
    width: 100% !important;
    margin-top:7vh
  }
  .mobile-only{
    display: block !important
  }
}

@media (min-width: 1200px) {
  .modal-xlg {
     width: 90%;
  }
}

.dataTables_paginate .next{
display: none
}
.timepicker_wrap {
  display: block;
  top: -154px!important;
  left: 0px!;
}

.timepicker_wrap  .arrow_top{
  background-image:none!important;
}

p, label::first-letter{
text-transform: capitalize;
}

.loading-animation{
  display:block;
  position:fixed;
  width:100%; 
  height:100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index:50000;
  vertical-align:middle; 
  text-align:center
}

.loading-animation img{
  max-width:100px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}