<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0
  </div>
  <strong>Copyright &copy; 2018 <a href="#">isiPOS Online</a>.</strong> All rights reserved.
</footer>
