</div><!-- /.content-wrapper -->

{{> common/footer }}
</div><!-- ./wrapper -->

<!-- Bootstrap 3.3.5 -->
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- SlimScroll -->
<script src="/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- FastClick -->
<script src="/plugins/fastclick/fastclick.min.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="/admin-lte/js/app.min.js" type="text/javascript"></script>
<!-- Bootstrap Toggle -->
<script src="/plugins/bootstrap-toggle-master/js/bootstrap-toggle.js" type="text/javascript"></script>
<!-- AdminLTE for demo purposes -->
<script src="/admin-lte/js/demo.js" type="text/javascript"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/plugins/jQueryUI/jquery-ui.min.js" type="text/javascript"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
$.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Sparkline -->
<script src="/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
<!-- jvectormap -->
<script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
<script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
<!-- jQuery Knob Chart -->
<script src="/plugins/knob/jquery.knob.js" type="text/javascript"></script>
<!-- daterangepicker -->
<script src="/plugins/moment.js/moment.min.js" type="text/javascript"></script>
<script src="/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<!-- datepicker -->
<script src="/plugins/datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<!-- dattable -->
<script src="/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
<!-- dattable bootstrap-->
<script src="/plugins/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
<!-- poper -->
<script src="/js/popper.min.js" type="text/javascript"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script> -->
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!-- <script src="/admin-lte/js/pages/dashboard.js"></script> -->
<!-- Select JS -->
<script src="/js/fSelect.js"></script>
{{!-- Table to JSON --}}
<script src="/js/jquery.tabletojson.min.js" type="text/javascript"></script>
<!-- Buttons  -->
<script src="/js/dataTables.buttons.min.js"></script>
<script src="/js/buttons.print.min.js"></script>
<script src="/plugins/jquery_validation/jquery.validate.min.js"></script>
<script src="/plugins/timepicki/js/timepicki.js"></script>
<!-- Custom JS -->
<script src="/js/custom.js"></script>
<script>

</script>
</body>
</html>
