<header class="main-header">
  <!-- Logo -->
  {{!-- <button onclick="location.reload();" class="mobile-only" style="
    color: white;
    position: absolute;
    z-index: 1000;
    display: none;
    font-size: x-large;
    right: 15px;
    top: 10px;
    background-color: transparent;
    border: none;
    ">
    <i class="fa fa-refresh"></i> --}}
  </button>
  {{#ifEquals user_data.role "sm_supervisor"}}
  <a href="/sm" class="logo">
  {{/ifEquals}}
  {{#ifEquals user_data.role "sm_warehouse"}}
  <a href="/sm" class="logo">
  {{/ifEquals}}
  {{#ifEquals user_data.role "bm"}}
  <a href="/bm" class="logo">
  {{/ifEquals}}
  {{#ifEquals user_data.role "ho"}}
  <a href="/ho" class="logo">
  {{/ifEquals}}
  {{#ifEquals user_data.role "ho_staff"}}
  <a href="/ho_staff" class="logo">
  {{/ifEquals}}
  {{#ifEquals user_data.role "admin"}}
  <a href="/admin" class="logo">
  {{/ifEquals}}
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>I</b>O</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>ISIPOS</b>Online</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        {{#or (ifDoEquals user_data.role "ho") (ifDoEquals user_data.role "ho_staff") }}
        <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">{{get_length DOData_alert}}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have {{get_length DOData_alert}} notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  {{#each DOData_alert}}
                  <li>
                    <a href="/ho/delivery_order_detail/{{this._id}}">
                      <i class="fa fa-truck text-aqua"></i> Difference on Delivery Order {{this.doCode}}
                    </a>
                  </li>
                  {{/each}}
                </ul>
              </li>
              <li class="footer"><a href="/ho/notification">View All</a></li>
            </ul>
          </li>
          {{/or}}
        <li>
          <a href="#">Welcome, {{user_data.name}}</a>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="/signout">
            <span class="fa fa-sign-out hidden-xs"></span> Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
