<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        {{#if user_data.imageProfile}}
        <img src="{{user_data.imageProfile}}" class="img-circle" alt="User Image">
        {{else}}
        <img src="/admin-lte/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        {{/if}}
      </div>
      <div class="pull-left info">
        <p>{{user_data.name}}</p>
      </div>
      {{#if brand.imageUrlLogo}}
      <br>
      <div class="pull-left info " style="position: initial!important;display: block; width:50%"><br><img src="{{brand.imageUrlLogo}}" class="img-responsive" alt="Responsive image"></div>
      {{/if}}
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="">
        {{#ifEquals user_data.role "sm_supervisor"}}
        <a href="/sm">
        {{/ifEquals}}
        {{#ifEquals user_data.role "sm_warehouse"}}
        <a href="/sm">
        {{/ifEquals}}
        {{#ifEquals user_data.role "bm"}}
        <a href="/bm">
        {{/ifEquals}}
        {{#ifEquals user_data.role "ho"}}
        <a href="/ho">
        {{/ifEquals}}
        {{#ifEquals user_data.role "ho_staff"}}
        <a href="/ho_staff">
        {{/ifEquals}}        
        {{#ifEquals user_data.role "admin"}}
        <a href="/admin">
        {{/ifEquals}}
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      {{#ifEquals user_data.role "sm_supervisor"}}
      {{>sidebar_sm_supervisor }}
      {{/ifEquals}}
      {{#ifEquals user_data.role "sm_warehouse"}}
      {{>sidebar_sm_warehouse }}
      {{/ifEquals}}
      {{#ifEquals user_data.role "bm"}}
      {{>sidebar_bm }}
      {{/ifEquals}}
      {{#ifEquals user_data.role "ho"}}
      {{>sidebar_ho }}
      {{/ifEquals}}
      {{#ifEquals user_data.role "ho_staff"}}
      {{>sidebar_ho_staff }}
      {{/ifEquals}}      
      {{#ifEquals user_data.role "admin"}}
      {{>sidebar_admin }}
      {{/ifEquals}}

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
