<!-- Main content -->
<section class="content">
  <div class="row">
      <div class="col-md-12">
        <h3>Brand/Store</h3>
        {{#if messages}}
            <div class="alert alert-{{messages_type}}" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{messages}}
            </div>
        {{/if}}
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#brand_tab">Brand</a></li>
          <li><a data-toggle="tab" href="#store_tab">Store</a></li>
        </ul>
        <div class="tab-content">
    <div id="brand_tab" class="tab-pane fade in active">
    <br>
      <div class="col-md-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateBrand" >Create New</button>
      </div>
      <div class="col-md-12">
        <br>
        <div class="table-responsive">
      <table id="datatable"Date class="table datatable -striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th class="view">Head Office</th>
            <th class="view">Code</th>
            <th class="view">Name</th>
            <th class="view">Created Date</th>
            <th class="view">Created By</th>
            <th class="view">Updated Date</th>
            <th class="view">Updated By</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each brands}}
          <tr>
          <td>{{this.headOffice.name}}</td>
          <td>{{this.code}}</td>
          <td>{{this.name}}</td>
          <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
          {{#if this.createdBy}}
          <td>{{this.createdBy.name}}</td>
          {{else}}
          <td>-</td>
          {{/if}}
          {{#if this.updatedDate}}
            <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
            {{else}}
            <td>-</td>
          {{/if}}
          {{#if this.updatedBy}}
            <td>{{this.updatedBy.name}}</td>
            {{else}}
            <td>-</td>
          {{/if}}
          <td><button class="btn btn-primary btn-block brand_edit"  type="button" data-url="/admin/brand/{{this._id}}" data-toggle="modal" data-target="#ModalUpdateBrand"><span class="fa fa-edit"></span></button></td>
          <td><button class="btn btn-danger btn-block delete_btn" type="button" data-toggle="modal" data-target="#delete_modal" data-url="delete_brand/{{this._id}}"><span class="fa fa-trash"></span></button></td>
        </tr>
      </tr>
      {{/each}}
          </tbody>
      </table>
      </div>
      </div>
    </div>
    <div id="store_tab" class="tab-pane fade">
      <br>
      <div class="col-md-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateStore" >Create New</button>
      </div>
      <div class="col-md-12">
        <br>
        <div class="table-responsive">
      <table id="datatable"Date class="table datatable -striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th class="view">Brand Name</th>
                <th class="view">Store name</th>
                <th class="view">Outer Jakarta</th>
                <th class="view">Unit Kerja</th>
                <th class="view">Created Date</th>
                <th class="view">Created By</th>
                <th class="view">Updated Date</th>
                <th class="view">Updated By</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
          {{#each stores}}
          <tr>
          <td>{{this.brand.name}}</td>
          <td>{{this.name}}</td>
          {{#ifEquals this.outerJakarta "true"}}
          <td>Yes</td>
          {{else}}
          <td>No</td>
          {{/ifEquals}}
          <td>{{this.unitKerja}}</td>
          <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
          {{#if this.createdBy}}
          <td>{{this.createdBy.name}}</td>
          {{else}}
          <td>-</td>
          {{/if}}
          {{#if this.updatedDate}}
            <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
            {{else}}
            <td>-</td>
          {{/if}}
          {{#if this.updatedBy}}
            <td>{{this.updatedBy.name}}</td>
            {{else}}
            <td>-</td>
          {{/if}}
          <td><button class="btn btn-primary btn-block store_edit"  type="button" data-url="/admin/store/{{this._id}}" data-toggle="modal" data-target="#ModalUpdateStore"><span class="fa fa-edit"></span></button></td>
          <td><button class="btn btn-danger btn-block delete_btn" type="button" data-toggle="modal" data-target="#delete_modal" data-url="delete_store/{{this._id}}"><span class="fa fa-trash"></span></button></td>
        </tr>
      </tr>
      {{/each}}
          </tbody>
      </table>
      </div>
      </div>
    </div>
</div>

      </div>
<!-- Small boxes (Stat box) -->
  </div>
<!-- /.row -->
</section>
<!-- /.content -->
</div><!-- /.content-wrapper -->
<!-- Modal -->
  <div class="modal fade" id="ModalCreateBrand" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Brand</h4>
        </div>
        <div class="modal-body">
          <form class="" action="/admin/create_brand" method="post">
            <div class="form-col">
              <div class="form-group">
                <label>Head Office <span class="red-star">*</span> :</label>
                <select type="text" class="form-control" name="hoID" required>
                  <option value="">Choose Head Office</option>
                  {{#each HO}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="form-col">
              <div class="form-group">
                <label>Code <span class="red-star">*</span> :</label>
                <input autocomplete="off" type="text" class="form-control" name="code" required>
              </div>
            </div>
            <div class="form-col">
              <div class="form-group">
                <label>Name <span class="red-star">*</span> :</label>
                <input autocomplete="off" type="text" class="form-control" name="name" required>
              </div>
            </div>
            <div class="foot-btn-form-create">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="delete_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Data</h4>
        </div>
        <div class="modal-body">
          Apakah anda yakin untuk menghapus data ini?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
          <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="ModalUpdateBrand" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Brand</h4>
        </div>
        <div class="modal-body">
          <form class="" action="/admin/update_brand" method="post">
            <div class="form-col">
              <input type="hidden" name="id" id="id_edit">
              <div class="form-group">
                <label>Head Office <span class="red-star">*</span> :</label>
                <select type="text" class="form-control" name="hoID" id="hoID" required>
                  <option value="">Choose Head Office</option>
                  {{#each HO}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label>Code <span class="red-star">*</span> :</label>
                <input autocomplete="off" id="code_edit" type="text" class="form-control" name="code" required>
              </div>              
              <div class="form-group">
                <label>Name <span class="red-star">*</span>:</label>
                <input type="text" id="name_edit" class="form-control" name="name" required>
              </div>
            </div>
            <div class="foot-btn-form-create">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="ModalCreateStore" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Store</h4>
        </div>
        <div class="modal-body">
          <form class="" action="/admin/create_store" method="post">
            <div class="form-col">
              <div class="form-group">
                <label>Brand <span class="red-star">*</span>:</label>
                <select class="form-control" name="brand">
                  <option>Select Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label>Store Name <span class="red-star">*</span> :</label>
                <input autocomplete="off" type="text" class="form-control" name="name" required>
              </div>
              <div class="form-group">
                <label>Outer Jakarta <span class="red-star">*</span> :</label>
                <select class="form-control" name="outerJakarta" required>
                  <option value="">Select Option</option>
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </div>
              <div class="form-group">
                <label>Unit Kerja <span class="red-star">*</span> :</label>
                <input autocomplete="off" type="text" class="form-control" name="unitKerja" required>
              </div>              
            </div>
            <div class="foot-btn-form-create">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="ModalUpdateStore" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Store</h4>
        </div>
        <div class="modal-body">
          <form class="" action="/admin/update_store" method="post">
            <div class="form-col">
              <input type="hidden" name="id" id="id_store">
              <div class="form-group">
                <label>Brand <span class="red-star">*</span>:</label>
                <select class="form-control" name="brandId" id="brandId_edit">
                  <option>Select Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label>Store Name <span class="red-star">*</span> :</label>
                <input autocomplete="off" type="text" class="form-control" name="name" id="store_name" required>
              </div>
              <div class="form-group">
                <label>Outer Jakarta <span class="red-star">*</span> :</label>
                <select class="form-control" id="outerJakarta" name="outerJakarta" required>
                  <option value="">Select Option</option>
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </div>
              <div class="form-group">
                <label>Unit Kerja <span class="red-star">*</span> :</label>
                <input autocomplete="off" type="text" class="form-control" name="unitKerja" id="unitKerja_edit" required>
              </div>                
            </div>
            <div class="foot-btn-form-create">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
