<!-- Main content -->
<section class="content">
  <div>
    {{#ifEquals dotype "indirect_store"}}
      <h3>Send Delivery Order</h3>
      {{else}}
      <h3>Restock Items</h3>
    {{/ifEquals}}
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div class="">
      <form class="" action="/ho/create_delivery_order" method="post" id="create_delivery_order_form" enctype="multipart/form-data">
        <input name="items" id="items" class="hidden" />
        <input name="dotype" id="dotype" class="hidden" value="{{dotype}}"/>
        <div class="form-col">
          <div class="" style="margin-bottom: 7vh">
            {{#ifEquals dotype "indirect_store"}}
              <div class="form-group">
                <label>Brand <span class="red-star">*</span>:</label>
                <select class="form-control selectize" name="brandId" id="brandId" required style="border-bottom: 0.25px #777 solid;">
                  <option>Select Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label>Store <span class="red-star">*</span>:</label>
                <select class="form-control selectize" name="storeId" id="storeId" required>
                  <option>Select Store</option>
                  {{#each brands}}
                    {{#each stores}}
                      <option value="{{this._id}}" class="{{../this._id}} opt">{{this.name}}</option>
                    {{/each}}                
                  {{/each}}
                </select>
              </div>
              {{else}}
              <div class="form-group">
                <label>Supplier <span class="red-star">*</span>:</label>
                <select class="form-control selectize" name="supplierId" id="supplierId" required>
                  <option>Select Supplier</option>
                  {{#each suppliers}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>   
              <div class="form-group">
                <label>Photo :</label>
                <input type="file" class="form-control" name="photo" id="photo">
              </div>             
            {{/ifEquals}}
            <div class="form-group">
              <label>Delivery Date <span class="red-star">*</span>:</label>
              <input type="text" class="form-control date" autocomplete="off" name="deliveryDate" id="deliveryDate" required>
            </div>
            {{!-- {{#notEquals dotype "indirect_store"}}
              <div class="form-group">
                <label>Receipt Date <span class="red-star">*</span>:</label>
                <input type="text" class="form-control date" name="receiptDate" id="receiptDate" required>
              </div>
            {{/notEquals}} --}}
            <div class="form-group">
              <label>Driver Name <span class="red-star">*</span>:</label>
              <input type="text" id="driverName" class="form-control" name="driverName" required>
            </div>
          </div>
          <div class="table-responsive">
            <div class="col-md-3" style="padding-left: 0">
              <a href="#" type="button" class="btn btn-primary close_alert" data-toggle="modal" data-target="#ModalPreCreateDeliveryOrder" style="margin-right: 10px;">Add Item</a>
              {{!-- <div class="dropdown" style="display: inline">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Unit Option
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#" data-toggle="modal" data-target="#add_unit">Add Unit</a></li>
                </ul>
              </div> --}}
            </div>
            <table id="create_delivery_order_table" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th class="hidden">StockId</th>
                  <th>ItemCode</th>
                  <th class="hidden">ItemId</th>
                  <th>Name</th>
                  {{#ifEquals dotype "indirect_store"}}
                    <th>Quantity</th>
                    {{else}}
                    {{!-- <th>QuantitySent</th> --}}
                    <th>QuantityReceived</th>
                    <th>TotalWeight</th>
                    <th>UnitPrice</th>
                  {{/ifEquals}}
                  <th class="hidden">UnitId</th>
                  <th>Unit</th>
                  <th>Option</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <div class="col-md-4 col-xs-4 btn-save">
              <button type="submit" id="create_delivery_order_button" class="btn btn-success btn-custom-save" style="width:100%">Submit</button>
              {{!-- <button type="button" id="create_delivery_order_button" class="btn btn-success btn-custom-save" style="width:100%">Submit</button> --}}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ModalPreCreateDeliveryOrder" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Item</h4>
      </div>
      <div class="modal-body">
        <form class="item_related" action="" method="post" id="pre_create_delivery_order_form">
          <div class="alert alert-danger" id="do_alert">
            <strong>Warning!</strong> quantity can't exceed the current stock.
          </div>
          <div class="form-col">
            <div class="form-group">
              <label>Item <span class="red-star">*</span>:</label>
              <input class="hidden" name="selected_item" id="selected_item" required>
              <input class="form-control" id="list_item_input" list="list_item" placeholder="Select Item" autocomplete="off" required>
              <datalist id="list_item">
                {{#each stocks}}
                <option data-stockid="{{this._id}}" data-itemid="{{this.item._id}}" data-stock="{{this.currentStock}}" data-unitname="{{this.item.unit.name}}" data-unitid="{{this.item.unit._id}}" data-itemcode="{{this.item.itemCategory.prefix}}{{this.item.itemCodeNumber}}">{{this.item.name}}</option>
                {{/each}}
              </datalist>
            </div>
            {{#ifEquals dotype "indirect_store"}}
              <div class="form-group">
                <label>Quantity <span class="red-star">*</span>:</label>
                <input type="number" class="form-control" min="0" name="quantity" id="quantity" required>
              </div>
              {{else}}
              <div class="form-group">
                <label>Weight** :</label>
                <input min="0" type="number" class="form-control" name="weight" id="weight" required>
              </div>
              {{!-- <div class="form-group">
                <label>Quantity Sent** :</label>
                <input type="number" class="form-control" min="0" name="quantity_sent" id="quantity_sent" required>
              </div> --}}
              <div class="form-group">
                <label>Quantity Received <span class="red-star">*</span>:</label>
                <input type="number" class="form-control" min="0" name="quantity_received" id="quantity_received" required>
              </div>
              <div class="form-group">
                <label>Unit Price <span class="red-star">*</span>:</label>
                <input min="0" type="number" class="form-control" name="unit_price" id="unit_price" required>
              </div>              
            {{/ifEquals}}
            <div class="form-group">
              <label>Unit <span class=""></span>:</label>
              <input type="text" class="form-control" id="unit" readonly>
            </div>
            <div class="form-group">
              <label>Current Stock <span class=""></span>:</label>
              <input type="text" class="form-control" id="stock" readonly>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="button" id="btn-add-item-submit" class="btn btn-default btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div id="delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Data</h4>
      </div>
      <div class="modal-body">
        Apakah anda yakin untuk menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
        <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
      </div>
    </div>
  </div>
</div>

<div id="add_unit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Unit</h4>
      </div>
      <div class="modal-body">
        <form class="" action="add_unit" method="post" id="add_unit_form">
          <input name="origin_path" class="hidden" value="create_delivery_order"/>
          <div class="form-col">
            <div class="unit_type_div">
              <label>Unit Type </label><br/>
              <div class="radio" >
                <label>
                  <input type="radio" name="unit_type_opt" id="unit_type_opt1" value="lowest" checked>
                  Lowest Unit
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="unit_type_opt" id="unit_type_opt2" value="highest">
                  Highest Unit
                </label>
              </div>
            </div>
            <div class="lowest_unit_div form-group">
              <label>Name :</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="highest_unit_div" style="display: none">
              <div class="highest_unit_name_field form-group">
                <label>Name :</label>
                <input type="text" class="form-control highest_unit_name" id="highest_name" name="highest_name" placeholder="Ex: Box" > /
                <input min="0" type="number" class="form-control highest_unit_conversion" id="conversion" name="conversion" placeholder="Ex: 48" >
              </div>
              <div class="form-group">
                <label>Lowest Unit :</label>
                <select id="lowest_unit_ref" name="lowest_unit_ref">
                  <option value="">Select Unit</option>
                  {{#each lowest_unit}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-default btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
