<!-- Main content -->
<section class="content">
  <div>
    <h3>Create Product Update</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div class="">
      <form class="" action="/bm/create_product_update" method="post" id="create_product_update_form">
        <input name="product_updates" id="product_updates" class="hidden" required/>
        <div class="form-col">
          <div class="" style="margin-bottom: 7vh">
            <div class="form-group">
              <label>Valid Date <span class="red-star">*</span>:</label>
              <input type="text" class="form-control date" autocomplete="off" name="validDate" id="validDate" required>
            </div>
          </div>
          <div class="table-responsive">
            <div class="col-md-3" style="padding-left: 0">
              <a href="#" type="button" class="btn btn-primary close_alert" data-toggle="modal" data-target="#ModalPreCreateProductUpdate" style="margin-right: 10px;">Add Item</a>
            </div>
            <table id="create_product_update_table" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th class="hidden">ProductId</th>
                  <th>Product</th>
                  <th>OldPrice</th> 
                  <th>NewPrice</th>                  
                  <th>NewName</th>
                  <th>NewDescription</th>
                  <th>Option</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <div class="col-md-4 col-xs-4 btn-save">
              <button type="submit" id="create_product_update_button" class="btn btn-success btn-custom-save" style="width:100%">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ModalPreCreateProductUpdate" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Item</h4>
      </div>
      <div class="modal-body">
        <form class="item_related" action="" method="post" id="pre_create_product_update_form">
          <div class="form-col">
            <div class="form-group">
              <label>Product <span class="red-star">*</span>:</label>
              <select class="form-control" id="product">
                <option>Choose Product</option>
                {{#each product_list}}
                  <option value="{{this._id}}" data-price="{{this.price}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label>Price <span class="red-star">*</span>:</label>
              <input min="0" type="number" class="form-control" id="newprice" required>
            </div>               
            <div class="form-group">
              <label>New Name <span class=""></span>:</label>
              <input type="text" class="form-control" id="newname" placeholder="optional">
            </div>
            <div class="form-group">
              <label>Description <span class=""></span>:</label>
              <textarea type="text" class="form-control" id="newdescription" placeholder="optional"></textarea>
            </div>           
          </div>
          <div class="foot-btn-form-create">
            <button type="button" id="btn-add-product-submit" class="btn btn-default btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div id="delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Data</h4>
      </div>
      <div class="modal-body">
        Apakah anda yakin untuk menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
        <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
      </div>
    </div>
  </div>
</div>
