<!-- Main content -->
<section class="content">
  <div class="row">
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div class="col-md-12">
        <div class="table-responsive">
          <h3>Customer</h3>
          <div class="">
            <div class="col-md-2 ">
                <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateCustomer" >Create New</button>
            </div>
            <br><br><br>
          </div>
        <table id="example" class="table datatable table-striped table-bordered" style="width:100%">
          <thead>
              <tr>
                  <th class="view">Brand</th>
                  <th class="view">Store</th>
                  <th class="view">Name</th>
                  <th class="view">Email</th>
                  <th class="view">Address</th>
                  <th class="view">Phone</th>
                  <th class="view">Counter</th>
                  <th class="view">Disc</th>
                  <th class="view">Notes</th>
                  <th class="view">Expire</th>
                  <th class="view">Reward</th>
                  <th class="view">Spend Start</th>
                  <th class="view">Spend Value</th>
                  <th class="view">Spend Last</th>
                  <th class="view">Spend Value Last</th>
                  <th class="view">Created Date</th>
                  <th class="view">Created By</th>
                  <th class="view">Updated Date</th>
                  <th class="view">Updated By</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
            {{#each customer}}
            <tr>
             <td>{{this.brand.name}}</td>
             <td>{{this.store.name}}</td>
             <td>{{this.custName}}</td>
             <td>{{this.custEmail}}</td>
             <td>{{this.custAddr1}}</td>
             <td>{{this.custTelp1}}</td>
             <td>{{this.custCounter}}</td>
             <td>{{this.custDisc}}%</td>
             <td>{{this.custNotes}}</td>
             <td>{{#if this.custExp }}
               {{dateFormat this.custExp "MM/DD/YYYY" utc}}
               {{else}}
               No Expiration Date
             {{/if}}
              </td>
            <td>{{this.custRewards}}</td>
           <td>{{dateFormat this.custSpendStart "MM/DD/YYYY" utc}}</td>
             <td>{{moneyRegister this.custSpendValue}}</td>
             <td>{{dateFormat this.custSpendLast "MM/DD/YYYY" utc}}</td>
             <td>{{moneyRegister this.custSpendValueLast}}</td>
             {{#if this.updatedDate}}
               <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
               {{else}}
               <td>-</td>
             {{/if}}
             {{#if this.createdBy}}
             <td>{{this.createdBy.name}}</td>
             {{else}}
             <td>-</td>
             {{/if}}
             {{#if this.updatedDate}}
               <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
               {{else}}
               <td>-</td>
             {{/if}}
             {{#if this.updatedBy}}
               <td>{{this.updatedBy.name}}</td>
               {{else}}
               <td>-</td>
             {{/if}}
             
             <td>
               {{#ifEquals ../user_data.role "ho_staff"}}
                    {{else}}
               <button class="btn btn-primary btn-block edit_customer_btn"  type="button" data-url="/ho/customer/{{this._id}}" data-toggle="modal" data-target="#ModalUpdateCustomer"><span class="fa fa-edit"></span></button>
               {{/ifEquals}}
               </td>
             <td>
               {{#ifEquals ../user_data.role "ho_staff"}}
                    {{else}}
               <button class="btn btn-danger btn-block delete_btn" type="button" data-url="/ho/delete_customer/{{this._id}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button>
               {{/ifEquals}}
               </td>
           </tr>
           {{/each}}
            </tbody>
      </table>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="ModalCreateCustomer" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Customer</h4>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          <div class="form-col">
            <div class="form-group">
              <label>Customer ID <span class="red-star">*</span>:</label>
              <input type="number" id="custId" class="form-control" name="custId" required>
            </div>
            <div class="form-group">
              <label>Brand <span class="red-star">*</span>:</label>
              <select class="form-control" name="brand" id="brand" data-url="/ho/get_store_list">
                <option>Select Brand</option>
                {{#each brands}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label>Store <span class="red-star">*</span>:</label>
              <select class="form-control" name="store" id="store">
                <option>Choose Store</option>
              </select>
            </div>
            <div class="form-group">
              <label>Name <span class="red-star">*</span>:</label>
              <input type="text" id="name" class="form-control" name="custName" required>
            </div>
            <div class="form-group">
              <label>Email <span class="red-star">*</span>:</label>
              <input type="email" class="form-control" name="custEmail" required>
            </div>
            <div class="form-group">
              <label>Address <span class="red-star">*</span>:</label>
              <input type="text" class="form-control" name="custAddr1" required>
            </div>
            <div class="form-group">
              <label>Phone <span class="red-star">*</span>:</label>
              <input type="text" class="form-control" name="custTelp1" required>
            </div>
            <div class="form-group">
              <label>Discount <span class="red-star">*</span>:</label>
              <input type="number" max="100" class="form-control" name="custDisc" required>
            </div>
            <div class="form-group">
              <label>Notes <span class="red-star">*</span>:</label>
              <input type="text" class="form-control" name="custNotes" required>
            </div>
            <div class="form-group">
              <label>Expire Date <span class="red-star">*</span>:</label>
              <input type="text" class="form-control date" name="custExp" required>
            </div>
            <div class="form-group">
              <label>Birth Date <span class="red-star">*</span>:</label>
              <input type="text" class="form-control birthdate" name="custBirth" required>
            </div>
            <div class="form-group">
              <label>Type <span class="red-star">*</span>:</label>
              <select class="form-control" name="isMember" required>
                <option>Choose Type</option>
                <option value="false">Non-Member</option>
                <option value="true">Member</option>
              </select>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
  <div class="modal fade" id="ModalUpdateCustomer" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Customer</h4>
        </div>
        <div class="modal-body">
          <form class="" action="/ho/update_customer" method="post">
            <div class="form-col">
              <div class="form-group">
                <input type="text" class="hidden" name="id" id="id_edit">
                <label>Customer ID <span class="red-star">*</span>:</label>
                <input type="number" id="custId_edit" class="form-control" name="custId" required>
              </div>
              <div class="form-group" id="brand_select_edit">
                <label>Brand <span class="red-star">*</span>:</label>
                <select class="form-control" name="brand" id="brand_edit" data-url="/admin/get_store_list">
                  <option>Choose Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group" id="store_select_edit">
                <label>Store <span class="red-star">*</span>:</label>
                <select class="form-control" name="store" id="store_edit">
                  <option>Choose Store</option>
                  {{#each stores}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label>Name <span class="red-star">*</span>:</label>
                <input type="text" id="name_edit" class="form-control" name="custName" required>
              </div>
              <div class="form-group">
                <label>Email <span class="red-star">*</span>:</label>
                <input type="email" class="form-control" name="custEmail" id="email_edit" required>
              </div>
              <div class="form-group">
                <label>Address <span class="red-star">*</span>:</label>
                <input type="text" class="form-control" name="custAddr1" id="address_edit" required>
              </div>
              <div class="form-group">
                <label>Phone <span class="red-star">*</span>:</label>
                <input type="text" class="form-control" name="custTelp1" id="phone_edit" required>
              </div>
              <div class="form-group">
                <label>Discount <span class="red-star">*</span>:</label>
                <input type="number" max="100" class="form-control" name="custDisc" id="discount_edit" required>
              </div>
              <div class="form-group">
                <label>Notes <span class="red-star">*</span>:</label>
                <input type="text" class="form-control" name="custNotes" id="notes_edit" required>
              </div>
              <div class="form-group">
                <label>Expire Date <span class="red-star">*</span>:</label>
                <input type="text" class="form-control date" name="custExp" id="expire_date_edit" required>
              </div>
              <div class="form-group">
                <label>Birth Date <span class="red-star">*</span>:</label>
                <input type="text" class="form-control birthdate" name="custBirth" id="birth_date_edit" required>
              </div>
              <div class="form-group">
                <label>Type <span class="red-star">*</span>:</label>
                <select class="form-control" name="isMember" id="type_edit" required>
                  <option>Choose Type</option>
                  <option value="false">Non-Member</option>
                  <option value="true">Member</option>
                </select>
              </div>
            <div class="foot-btn-form-create">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="delete_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Data</h4>
        </div>
        <div class="modal-body">
          Apakah anda yakin untuk menghapus data ini?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
          <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
        </div>
      </div>
    </div>
  </div>
