<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <h3>Welcome  {{user_data.name}}</h3>
      <div class="top-cont">
        <div class="row">
          <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>{{brandslen}}</h3>
                <p>Number of Brands</p>
              </div>
              <div class="icon">
                <i class="fa fa-usd"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3>{{storeslen}}</h3>
                <p>Number of Stores</p>
              </div>
              <div class="icon">
                <i class="fa fa-usd"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>{{supplierslen}}</h3>
                <p>Number of Supliers</p>
              </div>
              <div class="icon">
                <i class="fa fa-product-hunt"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
              <div class="inner">
                <h3>{{itemslen}}</h3>
                <p>Total Items</p>
              </div>
              <div class="icon">
                <i class="fa fa-shopping-cart"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-teal">
              <div class="inner">
                <h3>{{dolen}}</h3>
                <p>Total Delivery Order</p>
              </div>
              <div class="icon">
                <i class="fa fa-shopping-cart"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div >
        {{#if messages}}
            <div class="alert alert-{{messages_type}}" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{messages}}
            </div>
        {{/if}}
      </div>
    </div>
    {{!-- <div class="col-md-12">
      <h3>Daily Revenue, today</h3>
      {{#if revenue}}
        <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
        {{else}}
        <h4>No revenue for today</h4>
        {{/if}}

    </div> --}}
  </div>
</section>
<script>

var area = new Morris.Area({
  element   : 'revenue-chart',
  resize    : true,
  data      : [
    {{#each revenue}}
    { time: {{dateFormat this.createdDate "h:mm" utc}},
    revenue: {{ this.total }} },
     {{/each}}
  ],
  xkey      : 'time',
  ykeys     : ['revenue'],
  labels    : ['Revenue'],
  lineColors: ['#a0d0e0'],
  hideHover : 'auto',
  parseTime: false
});

</script>
