<!-- Main content -->
<section class="content dashboard-bm" style="
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url({{brand.imageUrlBackground}});
  min-height: inherit;
  background-size:cover;
  background-repeat:no-repeat;
  ">
  <div class="row">
    <div class="col-md-12">
      <h3>Welcome  {{user_data.name}}</h3>
      <div class="top-cont">
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>{{moneyRegister total_daily_revenue}}</h3>

                <p>Daily Revenue</p>
              </div>
              <div class="icon">
                <i class="fa fa-usd"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3>{{moneyRegister total_monthly_revenue}}</h3>

                <p>Monthly  Revenue</p>
              </div>
              <div class="icon">
                <i class="fa fa-usd"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>{{total_products}}</h3>

                <p>Total Product</p>
              </div>
              <div class="icon">
                <i class="fa fa-product-hunt"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3>{{total_stores}}</h3>

                <p>Total Store</p>
              </div>
              <div class="icon">
                <i class="fa fa-shopping-cart"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
      </div>
      <div >
        {{#if messages}}
            <div class="alert alert-{{messages_type}}" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{messages}}
            </div>
        {{/if}}
      </div>
    </div>
    <div class="col-md-12">
      <h3>Daily Revenue, today</h3>
      {{#if revenue}}
        <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
        {{else}}
        <h4>No revenue for today</h4>
        {{/if}}

    </div>
  </div>
</section>
<script>

var area_month = new Morris.Area({
  element   : 'revenue-chart',
  resize    : true,
  data      : [
    {{#each revenue}}
    { store: "{{ this.store.name }}",
    total: "{{ this.total }}" },
     {{/each}}
  ],
  xkey      : 'store',
  ykeys     : ['total'],
  labels    : ['Total Revenue'],
  lineColors: ['#a0d0e0'],
  hideHover : 'auto',
  parseTime: false
});

</script>
