
{{#ifEquals user_data.role "sm_warehouse"}}
{{>pages/dashboard_sm_warehouse }}
{{/ifEquals}}
{{#ifEquals user_data.role "sm_supervisor"}}
{{>pages/dashboard_sm_supervisor }}
{{/ifEquals}}
{{#ifEquals user_data.role "bm"}}
{{>pages/dashboard_bm }}
{{/ifEquals}}
{{#ifEquals user_data.role "admin"}}
{{>pages/dashboard_admin }}
{{/ifEquals}}
{{#ifEquals user_data.role "ho"}}
{{>pages/dashboard_ho }}
{{/ifEquals}}
{{#ifEquals user_data.role "ho_staff"}}
{{>pages/dashboard_ho }}
{{/ifEquals}}
