<!-- Main content -->
<section class="content" style="
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url({{brand.imageUrlBackground}});
  min-height: inherit;
  background-size: cover;
  ">
  <div class="row">
  <div class="col-md-12">
    <h3>Welcome Back, {{user_data.name}}</h3>
    <div class="top-cont inblock">
      <div class="col-md-12">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <h3>{{brand.name}}</h3>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <h3>{{store.name}}</h3>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-10 col-sm-12 col-xs-12">
          <h4>News, <span>{{latest_news_date}} (latest news)</span></h4>
          <p>{{latest_news_desc}}</p>
        </div>
      </div>
    </div>
    <div >
      {{#if messages}}
          <div class="alert alert-{{messages_type}}" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{messages}}
          </div>
      {{/if}}
    </div>
</div>
<div class="col-md-12">
    <div class="table-responsive">
    <table id="example" class="table datatable table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
              <th class="view">Valid Date</th>
              <th class="view">Name</th>
              <th class="view">PLU ID Product</th>
              <th class="view">Description</th>
              <th class="view">Price</th>
              <th class="view">Group (A/B/C/D)</th>
              <th class="view">Print ID</th>
              <th class="view">Created Date</th>
              <th class="view">Created By</th>
              <th class="view">Updated Date</th>
              <th class="view">Updated By</th>
              {{!-- <th>Update</th>
              <th>Delete</th> --}}
          </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
         <td>{{dateFormat this.validStartDate "MM/DD/YYYY" utc}}</td>
         <td>{{this.name}}</td>
         <td>{{this.PLUId}}</td>
         <td>{{this.description}}</td>
         <td>{{this.price}}</td>
         <td>{{this.group}}</td>
         <td>{{this.printerId}}</td>
         <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
         {{#if this.createdBy}}
         <td>{{this.createdBy.name}}</td>
         {{else}}
         <td>-</td>
         {{/if}}
         {{#if this.updatedDate}}
           <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
           {{else}}
           <td>-</td>
         {{/if}}
         {{#if this.updatedBy}}
           <td>{{this.updatedBy.name}}</td>
           {{else}}
           <td>-</td>
         {{/if}}
         {{!-- <td><button class="btn btn-primary btn-block edit_product" type="button" data-url="edit_product/{{this._id}}" data-toggle="modal" data-target="#ModalUpdateProduct"><span class="fa fa-edit"></span></button></td>
         <td><button class="btn btn-danger btn-block delete_btn" type="button" data-url="delete_product/{{this._id}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button></td> --}}
       </tr>
       {{/each}}
        </tbody>
  </table>
  </div>
</div>
  </div>
<!-- Small boxes (Stat box) -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div><!-- /.content-wrapper -->
<!-- Modal -->
  <div class="modal fade" id="ModalUpdateProduct" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Product</h4>
        </div>
        <div class="modal-body">
          <form class="" action="edit_product" method="post" id="edit_product_form">
            <div class="form-col">
              <input type="hidden" name="id" id="id">
              <div class="form-group">
                <label>Name :</label>
                <input autocomplete="off" type="text" id="name" class="form-control" name="name" required><span class="red-star">*</span>
              </div>
              <div class="form-group">
                <label>PLU ID Product :</label>
                <input autocomplete="off" type="text" id="plu_id" class="form-control" name="PLUId" required><span class="red-star">*</span>
              </div>
              <div class="form-group">
                <label>Description :</label>
                <input autocomplete="off" type="text" id="description" class="form-control" name="description" required><span class="red-star">*</span>
              </div>
              <div class="form-group">
                <label>Price :</label>
                <input autocomplete="off" type="number" id="price" class="form-control" name="price"><span class="red-star">*</span>
              </div>
              <div class="form-group">
                <label>Group :</label>
                <input autocomplete="off" type="number" id="debit" class="form-control" name="debit" required><span class="red-star">*</span>
              </div>
              <div class="form-group">
                <label>Print ID :</label>
                <input autocomplete="off" type="number"  id="print_id" class="form-control" name="printerId" required><span class="red-star">*</span>
              </div>
              <div class="form-group">
                <label>Valid Date :</label>
                <input autocomplete="off" type="text"  id="validstartdate" class="form-control date " name="validStartDate" required><span class="red-star">*</span>
              </div>
            </div>
            <div class="foot-btn-form-create">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="delete_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Data</h4>
        </div>
        <div class="modal-body">
          Apakah anda yakin untuk menghapus data ini?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
          <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
        </div>
      </div>
    </div>
  </div>
