<html>

<head>
  <title>Delivery Order Details Print</title>
  <!-- jQuery 2.1.4 -->
  <script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
  <style>
    @page {
      size: auto;
      /* auto is the initial value */
      margin: 2mm;
      /* this affects the margin in the printer settings */
    }

    html {
      font-family: 'Lucida Console';
      font-size: 80%;
      background-color: #FFFFFF;
      margin: 5px;
      /* this affects the margin on the html before sending to printer */
    }
  </style>
</head>

<body>
  <b style="text-align:center">ISIPos Online</b><br>
  <hr>
  {{#ifEquals DOData.type "direct_store"}}
  <label>Direct Store</label><br>
  {{/ifEquals}}
  {{#ifEquals DOData.type "indirect_store"}}
  <label>Indirect Store</label><br>
  {{/ifEquals}}
  {{#ifEquals DOData.type "direct_ho"}}
  <label>Direct HO</label><br>
  {{/ifEquals}}
  <p><b>Driver Name:</b> {{DOData.driverName}}</p>
  <p><b>Recipient Staff:</b>
    {{#if DOData.recipientUser}}
    {{DOData.recipientUser.name}}
    {{else}}
    On Progress
    {{/if}}
  </p>
  {{#ifEquals DOData.type "direct_store"}}
  <p><b>Shipper:</b> Supplier - {{DOData.supplier.name}}</p>
  <p><b>Recipient:</b> Store - {{this.store.name}}</p>
  {{/ifEquals}}
  {{#ifEquals DOData.type "indirect_store"}}
  <p><b>Shipper:</b> Head Office - {{DOData.headOffice.name}}</p>
  <p><b>Recipient:</b> Store - {{DOData.store.name}}</p>
  {{/ifEquals}}
  {{#ifEquals DOData.type "direct_ho"}}
  <p><b>Shipper:</b> Supplier - {{DOData.supplier.name}}</p>
  <p><b>Recipient:</b> Head Office - {{DOData.headOffice.name}}</p>
  {{/ifEquals}}
  <p><b>Delivery Date:</b> {{dateFormat DOData.deliveryDate "MM/DD/YYYY" utc}}</p>
  {{#if showPrice}}
    <p><b>Total Bill:</b> {{moneyRegister DOData.totalBill}}</p>  
  {{/if}}
  <hr>
  <br>Item List <br>
  <hr>
  {{#each DOData.deliveryItem}}
    <label>Code:</label>
    <label>{{this.item.itemCategory.prefix}}{{this.item.itemCodeNumber}}</label><br>
    <label>Name:</label>
    <label>{{this.item.name}}</label><br>
    {{#ifEquals user_data.role 'ho'}}
      <label>Quantity Sent:</label><br>
      <label>
        {{#if this.quantitySend}}
          {{this.quantitySend}}
        {{else}}
          -
        {{/if}}
      </label><br>
    {{/ifEquals}}
    <label>Quantity Received:</label>
    <label>
      {{#if this.quantityReceive}}
        {{this.quantityReceive}}
      {{else}}
        On Progress
      {{/if}}
    </label><br>
    <label>Difference:</label>
    <label>
      {{#if this.quantitySend}}
        {{#if this.quantityReceive}}
          {{substract this.quantitySend this.quantityReceive}}
        {{else}}
          On Progress
        {{/if}}
      {{else}}
        -
      {{/if}}
    </label><br>
    <label>Unit:</label>
    <label>{{this.unit.name}}</label><br>
    {{#ifEquals ../user_data.role 'sm_supervisor'}}
      <label>Adjustment Quantity:</label>
      <label>
        {{#if this.quantityAdjustment}}
          {{this.adjustmentType}} {{this.quantityAdjustment}}
        {{else}}
          Not Adjusted
        {{/if}}
      </label><br>
    {{/ifEquals}}    
    {{#ifEquals ../user_data.role 'sm_warehouse'}}
      <label>Adjustment Quantity:</label>
      <label>
        {{#if this.quantityAdjustment}}
          {{this.adjustmentType}} {{this.quantityAdjustment}}
        {{else}}
          Not Adjusted
        {{/if}}
      </label><br>
    {{/ifEquals}}
    {{#ifEquals ../user_data.role 'ho'}}
      <label>Total Weight:</label>
      <label>
        {{#if this.totalWeight}}
          {{this.totalWeight}}
        {{else}}
          -
        {{/if}}
      </label><br>    
      {{#if ../showPrice}}
        <label>Unit Price:</label>
        <label>
          {{#if this.unitPrice}}
            {{moneyRegister this.unitPrice}}
          {{else}}
            -
          {{/if}}
        </label><br>
        <label>Total Price:</label>
        <label>
          {{#if this.totalPrice}}
            {{moneyRegister this.totalPrice}}
          {{else}}
            -
          {{/if}}
        </label><br>
      {{/if}}
    {{/ifEquals}}
    <label>Return Quantity:</label>
    <label>
      {{#if this.quantityReturn}}
      {{this.quantityReturn}} ({{this.notesReturn}})
      {{else}}
      No Return
      {{/if}}
    </label><br>
    <hr>
  {{/each}}
</body>

</html>
<script>
  $(document).ready(function () {
    $('footer').hide();
    window.print();
  });
</script>