<!-- Main content -->
<section class="content">
  <div>
    <h3>Delivery Order Details</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div class="">
      <form class="" action="" method="post" id="receive_item_form" enctype="multipart/form-data">
       <input name="id" class="hidden" value="{{DOData._id}}" />
        <div class="form-col">
          <div class="" style="margin-bottom: 7vh">
            {{#ifEquals DOData.type "direct_store"}}
            <div class="form-group">
              <label>Supplier <span class="red-star">*</span>:</label>
              <input class="form-control" name="shipper" value="{{DOData.supplier.name}}" readonly>
            </div>
            <div class="form-group">
              <label>Store <span class="red-star">*</span>:</label>
              <input class="form-control" name="recipient" value="{{DOData.store.name}}" readonly>
            </div>
            {{/ifEquals}} 
            {{#ifEquals DOData.type "indirect_store"}}
            <div class="form-group">
              <label>Member Recipient Name <span class="red-star">*</span>:</label>
              <input class="form-control" name="memberName" value="{{DOData.recipientUser.name}}" readonly>
            </div>
            <div class="form-group">
              <label>Head Office <span class="red-star">*</span>:</label>
              <input class="form-control" name="shipper" value="{{DOData.headOffice.name}}" readonly>
            </div>
            <div class="form-group">
              <label>Store <span class="red-star">*</span>:</label>
              <input class="form-control" name="recipient" value="{{DOData.store.name}}" readonly>
            </div>
            {{/ifEquals}} 
            {{#ifEquals DOData.type "direct_ho"}}
            <div class="form-group">
              <label>Supplier <span class="red-star">*</span>:</label>
              <input class="form-control" name="shipper" value="{{DOData.supplier.name}}" readonly>
            </div>
            <div class="form-group">
              <label>Head Office <span class="red-star">*</span>:</label>
              <input class="form-control" name="recipient" value="{{DOData.headOffice.name}}" readonly>
            </div>
            {{/ifEquals}} 
            <div class="form-group">
              <label>Delivery Date <span class="red-star">*</span>:</label>
              <input type="text" class="form-control " name="deliveryDate" value="{{dateFormat DOData.deliveryDate "YYYY-MM-DD" utc}}" readonly>
            </div>
            <div class="form-group">
              <label>Driver Name <span class="red-star">*</span>:</label>
              <input type="text" id="driverName" class="form-control" name="driverName" value="{{DOData.driverName}}" readonly>
            </div>
          </div>
          <div class="table-responsive">
             <table id="receive_item_table" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Unit</th>
                  <th>Quantity Send</th>
                  <th>Quantity Warehouse</th>
                  <th>Difference</th>
                  <th>Adjustment Quantity</th>
                  <th>Adjust</th>
                </tr>
              </thead>
              <tbody>
                {{#each DOData.deliveryItem}}
                <tr>
                  <td>{{inc @index}}</td>
                  <td>{{this.item.name}}</td>
                  <td>{{this.unit.name}}</td>
                  <td>{{this.quantitySend}}</td>
                  <td>{{this.quantityReceive}}</td>
                  <td>{{substract this.quantitySend this.quantityReceive}}</td>
                  <td id="adjust-td-{{this._id}}">
                    {{#if this.quantityAdjustment}}
                      {{this.adjustmentType}} {{this.quantityAdjustment}}
                      {{else}}
                      Not Adjusted
                    {{/if}}
                  </td>                  
                  {{#if this.quantityReceive}}
                    {{#if this.quantityAdjustment}}
                      <td>-</td>
                    {{else}}
                      <td>
                        <div class="adjust-div" id="adjust-div-{{this._id}}" >
                          <div style="display:flex">
                            <button class="btn btn-info btn-block btn-flex adjust-doi" id="adjust-doi-{{this._id}}" data-doitemid="{{this._id}}" type="button" style="width:40px; display:block"><span class="fa fa-cog"></span></button>
                            <div class="form-group">
                              <select class="form-control adjust-type" id="adjust-type-{{this._id}}" name="adjustment_type" style="display:none" data-doitemid="{{this._id}}" required>
                                <option>Type</option>
                                <option value="in">Plus</option>
                                <option value="out">Minus</option>
                              </select>
                            </div>
                            <input type="number" min="0" max="{{substract this.quantitySend this.quantityReceive}}" class="form-control adjust-input" id="adjust-input-{{this._id}}" name="adjustnum" style="width:120px; display:none" placeholder="Adjustment" data-doitemid="{{this._id}}" required>
                            <button class="btn btn-info btn-block btn-flex adjust-btn" id="adjust-btn-{{this._id}}" data-doid="{{../this._id}}" data-doitemid="{{this._id}}" data-stockid="{{this.stock._id}}" data-itemid="{{this.item._id}}" data-url="/ho/adjust_doitem" type="button" style="width:60px; display:none; height: fit-content;" disabled>Send</button>
                          </div>
                        </div>
                        <div id="adjust-loader-{{this._id}}" style="display:none">
                          <i class="fa fa-circle-o-notch fa-spin"></i>
                        </div>
                      </td>
                    {{/if}}
                  {{else}}
                    <td>
                      <button class="btn btn-info btn-block btn-flex" type="button" style="width:40px; display:block" disabled><span class="fa fa-cog"></span></button>
                    </td>
                  {{/if}}                  
                </tr>
                {{/each}}
              </tbody>
            </table>
            {{#if DOData.isDifference }}
              <div class="col-md-4 col-xs-4 btn-save">
                <a href="/ho/resolve_difference/{{DOData._id}}" type="button" id="resolve_difference" class="btn btn-success btn-custom-save" style="width:100%">Finish</a>
              </div>            
            {{/if}}
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
