<!-- Main content -->
<section class="content" style="
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url({{brand.imageUrlBackground}});
  min-height: inherit;
  background-size: cover;
  ">
  <div>
    <h3>Discount</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div class="" style="padding: 0 15px">
      <div class="table-responsive">
        <div class="">
          <div class="col-md-2 ">
              <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreate" >Create Discount</button>
          </div>
          <br><br><br>
        </div>
        <table id="example" class="table datatable table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th class="view">Name</th>
              <th class="view">Type</th>
              <th class="view">Value</th>
              <th class="view">Max Value</th>
              <th class="view">Product</th>
              <th class="view">Product Category</th>
              <th class="view">Product Group</th>
              <th class="view">Payment</th>
              <th class="view">Created By</th>
              <th class="view">Created Date</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each discount}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.valueType}}</td>
              <td>{{this.value}}</td>
              <td>{{this.maxValue}}</td>
              <td>
                  {{#if this.product.name}}
                  {{this.product.name}}
                  {{else}}
                  -
                  {{/if}}
              </td>
              <td>
                  {{#if this.productcategory.name}}
                  {{this.productcategory.name}}
                  {{else}}
                  -
                  {{/if}}
              </td>
              <td>
                  {{#if this.productgroup.name}}
                  {{this.productgroup.name}}
                  {{else}}
                  -
                  {{/if}}
              </td>
              <td>
                  {{#if this.payment.name}}
                  {{this.payment.name}}
                  {{else}}
                  -
                  {{/if}}
              </td>
              {{#if this.createdBy}}
              <td>{{this.createdBy.name}}</td>
              {{else}}
              <td>-</td>
              {{/if}}
              <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
              <td><button class="btn btn-success btn-block edit_discount" type="button" data-url="get_single_discount/{{this._id}}"  data-toggle="modal" data-target="#edit_modal"><span class="fa fa-edit"></span></button></td>
              <td><button class="btn btn-danger btn-block delete_btn" type="button" data-url="discount_delete/{{this._id}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{{!-- Modal Edit --}}
<div class="modal fade" id="edit_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Discount</h4>
      </div>
      <div class="modal-body">
        <form class="" action="discount_edit" method="post">
          <div class="form-col">
            <div class="form-group">
              <input class="hidden" name="id" id="id">
              <label>Name <span class=" red-star">*</span> :</label>
              <input type="text" class="form-control" name="name" id="name" autocomplete="off" required>
            </div>
            {{#ifEquals user_data.role "admin"}}
              <div class="form-group">
                <label>Brand <span class="red-star">*</span>:</label>
                <select class="form-control" name="brand" required>
                  <option>Select Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            {{/ifEquals}}
            <div class="form-group">
                <label>Type <span class="red-star">*</span>:</label>
                <select class="form-control" name="valueType" id="valueType" required>
                  <option>Select Type</option>
                  <option value="nominal">Nominal</option>
                  <option value="percent">Percent</option>
                </select>
            </div>
            <div class="form-group">
              <label>Value <span class=" red-star">*</span> :</label>
              <input type="number" class="form-control" name="value" id="value" autocomplete="off" required>
            </div>
            <div class="form-group">
              <label>Max Nominal Discount :</label>
              <input type="number" class="form-control" name="maxValue" id="maxValue" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Product :</label>
                <select class="form-control" name="product" id="product">
                  <option>Select Product</option>
                  {{#each product}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label>Product Category:</label>
                <select class="form-control" name="productcategory" id="productcategory">
                  <option>Select Product Category</option>
                  {{#each productcategory}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label>Product Group:</label>
                <select class="form-control" name="productgroup" id="productgroup">
                  <option>Select Product Group</option>
                  {{#each productgroup}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
            </div>
          <div class="form-group">
                <label>Product Payment:</label>
                <select class="form-control" name="payment" id="payment">
                  <option>Select Payment</option>
                  {{#each payment}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ModalCreate" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Payment</h4>
      </div>
      <div class="modal-body">
        <form class="" action="" method="post">
          <div class="form-col">
            <div class="form-group">
              <label>Name <span class=" red-star">*</span> :</label>
              <input type="text" class="form-control" name="name" autocomplete="off" required>
            </div>
            {{#ifEquals user_data.role "admin"}}
              <div class="form-group">
                <label>Brand <span class="red-star">*</span>:</label>
                <select class="form-control" name="brand" required>
                  <option value="">Select Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            {{/ifEquals}}
            <div class="form-group">
                <label>Type <span class="red-star">*</span>:</label>
                <select class="form-control" name="valueType" required>
                  <option value=""> Select Type</option>
                  <option value="nominal">Nominal</option>
                  <option value="percent">Percent</option>
                </select>
            </div>
            <div class="form-group">
              <label>Value <span class=" red-star">*</span> :</label>
              <input type="number" class="form-control" name="value" autocomplete="off" required>
            </div>
            <div class="form-group">
              <label>Max Value :</label>
              <input type="number" class="form-control" name="maxValue" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Product :</label>
                <select class="form-control" name="product">
                  <option value="">Select Product</option>
                  {{#each product}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label>Product Category:</label>
                <select class="form-control" name="productcategory">
                  <option value="">Select Product Category</option>
                  {{#each productcategory}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label>Product Group:</label>
                <select class="form-control" name="productgroup">
                  <option value="">Select Product Group</option>
                  {{#each productgroup}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
            </div>
          <div class="form-group">
                <label>Product Payment:</label>
                <select class="form-control" name="payment" id="payment">
                  <option value="">Select Payment</option>
                  {{#each payment}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
            </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div id="delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Data</h4>
      </div>
      <div class="modal-body">
        Apakah anda yakin untuk menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
        <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
      </div>
    </div>
  </div>
</div>
