<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <h3>Delivery Order Report : {{type}}</h3>
      {{#if messages}}
      <div class="alert alert-{{messages_type}}" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{messages}}
      </div>
      {{/if}}
      <div style="margin-top:40px">
        <h4>Filters:</h4>
        <div id="table_filters" class="form-inline">
          <div class="form-group">
            <input class="date_range_filter date form-control" type="text" id="datepicker_from" placeholder="From" value="{{dateFrom.inputVal}}" autocomplete="off"/>
          </div>
          <div class="form-group">
            <input class="date_range_filter date form-control" type="text" id="datepicker_to" placeholder="To" value="{{dateTo.inputVal}}" autocomplete="off"/>
          </div>
        </div>      
      </div>       
      {{!-- <div class="col-md-12">
        <p id="date_filter">
          <div class="col-md-3 col-sm-3">
            <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date" type="text" id="datepicker_from" />
          </div>
          <div class="col-md-3 col-sm-3">
            <span id="date-label-to" class="date-label">To: <input class="date_range_filter date" type="text" id="datepicker_to" />
          </div>
        </p>
      </div>
      <br><br><br> --}}
    </div>
    <div class="col-md-12" style="margin-top:30px">
      <div class="table-responsive" id="item_list_table">
        <div class="inline-options">
        </div>
        <table  class="table datatable_filter table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th class="view">Created Date</th>
              <th class="view">Item Code</th>
              <th class="view">Name</th>
              <th class="view">Type</th>
              <th class="view">Quantity</th>
              <th class="view">Total Weight</th>
              <th class="view">Unit Price</th>
              <th class="view">Total Price</th>
              <th class="view">Unit</th>
              <th class="view">Created By</th>
            </tr>
          </thead>
          <tbody>
            {{#each trans}}
            <tr>
              <td>{{dateFormat this.createdDate "MM/DD/YYYY HH:mm:ss" utc}}</td>
              <td>{{this.stock.item.itemCategory.prefix}}{{this.stock.item.itemCodeNumber}}</td>
              <td>{{this.stock.item.name}}</td>
              {{#ifEquals this.type "in"}}
              <td><span class="label label-success fa fa-arrow-down"> In</span></td>
              {{/ifEquals}}
              {{#ifEquals this.type "out"}}
              <td><span class="label label-danger fa fa-arrow-up"> Out</span></td>
              {{/ifEquals}}
              {{#ifEquals this.type "initial"}}
              <td><span class="label label-success fa fa-arrow-down"> Initial</span></td>
              {{/ifEquals}}
              <td>{{this.quantity}}</td>
              <td>
                {{#if this.doItemId.totalWeight}}
                  {{this.doItemId.totalWeight}}
                  {{else}}
                  -
                {{/if}}
              </td>
              <td>
                {{#if this.doItemId.unitPrice}}
                  {{this.doItemId.unitPrice}}
                  {{else}}
                  -
                {{/if}}
              </td>
              <td>
                {{#if this.doItemId.totalPrice}}
                  {{this.doItemId.totalPrice}}
                  {{else}}
                  -
                {{/if}}
              </td>
              <td>{{this.stock.item.unit.name}}</td>
              <td>{{this.createdBy.name}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
  $.fn.dataTable.ext.search.push(
             function (settings, data, dataIndex) {
                 var min = $('#datepicker_from').datepicker("getDate");
                 var max = $('#datepicker_to').datepicker("getDate");
                 // need to change str order before making  date obect since it uses a new Date("mm/dd/yyyy") format for short date.
                 var d = data[0].split("/");
                 var startDate = new Date(d[0]+ "/" +  d[1] +"/" + d[2]);
                 console.log(d);
                 console.log(startDate);
                 if (min == null && max == null) { return true; }
                 if (min == null && startDate <= max) { return true;}
                 if(max == null && startDate >= min) {return true;}
                 if (startDate <= max && startDate >= min) { return true; }
                 return false;
             }
         );


         $("#datepicker_from").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true , dateFormat:"mm/dd/yyyy"});
         $("#datepicker_to").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true, dateFormat:"mm/dd/yyyy" });
         var table = $('.datatable_filter').DataTable({
           "order":[],
           "oLanguage": {
             "sSearch": "Filter Data"
           },
           "iDisplayLength": -1,
           "sPaginationType": "full_numbers",
           dom: 'Bfrtip',
           buttons: [
             {
               extend: 'print',
               exportOptions: {
               columns: '.view'
               }
             }
           ],
           "lengthMenu": [10,20, 40, 60, 80, 100],
           "pageLength": 10
         });

         // Event listener to the two range filtering inputs to redraw on input
         $('#datepicker_from, #datepicker_to').change(function () {
             table.draw();
         });
  })
</script>