<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <h3>Delivery Order Report : {{type}}</h3>
      {{#if messages}}
      <div class="alert alert-{{messages_type}}" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{messages}}
      </div>
      {{/if}}
      <div style="margin-top:40px">
        <h4>Filters:</h4>
        <div id="table_filters" class="form-inline">
          <div class="form-group">
            <input class="date_range_filter date form-control" type="text" id="datepicker_from" placeholder="From" value="{{dateFrom.inputVal}}" autocomplete="off"/>
          </div>
          <div class="form-group">
            <input class="date_range_filter date form-control" type="text" id="datepicker_to" placeholder="To" value="{{dateTo.inputVal}}" autocomplete="off"/>
          </div>
        </div>      
      </div>       
      {{!-- <div class="col-md-12">
        <p id="date_filter">
          <div class="col-md-3 col-sm-3">
            <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date" type="text" id="datepicker_from" />
          </div>
          <div class="col-md-3 col-sm-3">
            <span id="date-label-to" class="date-label">To: <input class="date_range_filter date" type="text" id="datepicker_to" />
          </div>
        </p>
      </div>
      <br><br><br> --}}
    </div>
    <div class="col-md-12" style="margin-top:30px">
      <div class="table-responsive" id="item_list_table">
        <div class="inline-options">
        </div>
        <table  class="table datatable_filter table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th class="view">Created Date</th>
              <th class="view">Store</th>
              <th class="view">Code</th>
              <th class="view">Driver Name</th>
              <th class="view">Items</th>
              <th>Photos</th>
              <th>Details</th>
              <th class="view">Created By</th>
              <th>Updated Date</th>
              <th>Updated By</th>
            </tr>
          </thead>
          <tbody>
            {{#each DOData}}
            <tr>
              <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
              <td><a href="/ho/do_report/store/{{this.store._id}}">{{this.store.name}}</a></td>
              <td>{{this.doCode}}</td>
              <td><a href="/ho/do_report/driver/{{this.driverName}}">{{this.driverName}}</td></a>
              <td>{{#each this.deliveryItem}} 
                    <p>
                      <a href="/ho/do_report/item/{{this.item._id}}">{{this.item.name}}({{this.quantityReceive}})</a>
                    </p>
                    {{/each}}
              </td>
            {{#if this.imageUrl}}
                  <td style="text-align:center">
                    <a href="javascript:void(0)" class="pop">
                        <img class="imageresource" src={{this.imageUrl}} width="50" height="50" style="margin:5px"/>
                    </a>
                  </td>
                  {{else}}
                  <td>
                    No Image
                  </td>
                {{/if}}
                <td><button class="btn btn-info btn-block detail_items btn-flex" type="button" data-toggle="modal" data-target="#Modal_{{this._id}}"><span class="fa fa-eye"></span></button>
                    </td>
              <td>{{this.createdBy.name}}</td>
              {{#if this.updatedDate}}
                <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                {{else}}
                <td>-</td>
              {{/if}}
              {{#if this.updatedBy}}
                <td>{{this.updatedBy.name}}</td>
                {{else}}
                <td>-</td>
              {{/if}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


{{#each DOData}}
  <div id="Modal_{{this._id}}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xlg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delivery Order Detail</h4>
        </div>
        <div class="modal-body" style="text-align:left">
          <div style="display:flex">
            <div class="col-md-6">
              <p><b>Driver Name:</b> {{this.driverName}}</p>
              <p><b>Recipient Staff:</b>
                {{#if this.recipientUser}}
                {{this.recipientUser.name}}
                {{else}}
                On Progress
                {{/if}}
              </p>
              {{#ifEquals this.type "direct_store"}}
                <p><b>Shipper:</b> Supplier - {{this.supplier.name}}</p>
                <p><b>Recipient:</b> Store - {{this.store.name}}</p>
              {{/ifEquals}}
              {{#ifEquals this.type "indirect_store"}}
                <p><b>Shipper:</b> Head Office - {{this.headOffice.name}}</p>
                <p><b>Recipient:</b> Store - {{this.store.name}}</p>                        
              {{/ifEquals}}
              {{#ifEquals this.type "direct_ho"}}
                <p><b>Shipper:</b> Supplier - {{this.supplier.name}}</p>
                <p><b>Recipient:</b> Head Office - {{this.headOffice.name}}</p>                              
              {{/ifEquals}} 
              <p><b>Delivery Date:</b> {{dateFormat this.deliveryDate "MM/DD/YYYY" utc}}</p>
            </div>
            <div class="col-md-6">
              <p>
                <b>Created Date:</b>
                {{dateFormat this.createdDate "MM/DD/YYYY" utc}}
              </p>
              <p>
                <b>Created By:</b>
                {{this.createdBy.name}}
              </p>
              <p>
                <b>Updated Date:</b>
                {{#if this.updatedDate}}
                  {{dateFormat this.updatedDate "MM/DD/YYYY" utc}}
                  {{else}}
                  -
                {{/if}}
              </p>
              <p>
                <b>Updated By:</b>
                {{#if this.updatedBy}}
                  {{this.updatedBy.name}}
                  {{else}}
                  -
                {{/if}}
              </p>
            </div>
          </div>
          <div>
            <div class="table-responsive" id="do_detail_table">
              <table class="table datatable table-striped table-bordered" style="width:100%">
                <thead>
                  <tr>
                    <th class="view">Item Code</th>
                    <th class="view">Name</th>
                    <th class="view">Quantity Sent</th>
                    <th class="view">Quantity Received</th>
                    <th class="view">Difference</th>
                    <th class="view">Unit</th>
                    <th class="view">Adjustment Quantity</th>
                    <th class="view">Return Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.deliveryItem}}
                  <tr>
                    <td>{{this.item.itemCategory.prefix}}{{this.item.itemCodeNumber}}</td>
                    <td>{{this.item.name}}</td>
                    {{#ifEquals ../../user_data.role 'ho'}}
                    <td>
                      {{#if this.quantitySend}}
                        {{this.quantitySend}}
                        {{else}}
                        -
                      {{/if}}                    
                    </td>
                    {{/ifEquals}}
                    <td>
                      {{#if this.quantityReceive}}
                        {{this.quantityReceive}}
                        {{else}}
                        On Progress
                      {{/if}}
                    </td>
                    <td>
                      {{#if this.quantitySend}}
                        {{#if this.quantityReceive}}
                          {{substract this.quantitySend this.quantityReceive}}
                          {{else}}
                          On Progress
                        {{/if}}
                        {{else}}
                        -
                      {{/if}}
                    </td>
                    <td>{{this.unit.name}}</td>
                    {{#ifEquals ../../user_data.role 'ho'}}
                    {{#ifEquals ../this.type "indirect_store"}}
                      <td id="adjust-td-{{this._id}}">
                        {{#if this.quantityAdjustment}}
                          {{this.adjustmentType}} {{this.quantityAdjustment}}
                          {{else}}
                          Not Adjusted
                        {{/if}}
                      </td>
                      {{else}}
                      <td>
                        {{#if this.totalWeight}}
                          {{this.totalWeight}}
                          {{else}}
                          -
                        {{/if}}
                      </td>
                      <td>
                        {{#if this.unitPrice}}
                          {{moneyRegister this.unitPrice}}
                          {{else}}
                          -
                        {{/if}}                        
                      </td>
                      <td>
                        {{#if this.totalPrice}}
                          {{moneyRegister this.totalPrice}}
                          {{else}}
                          -
                        {{/if}}                        
                      </td>                      
                      {{/ifEquals}}
                    {{/ifEquals}}
                    <td id="return-td-{{this._id}}">
                      {{#if this.quantityReturn}}
                        {{this.quantityReturn}} ({{this.notesReturn}})
                        {{else}}
                        No Return
                      {{/if}}
                    </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
<script>
  $(document).ready(function () {
  $.fn.dataTable.ext.search.push(
             function (settings, data, dataIndex) {
                 var min = $('#datepicker_from').datepicker("getDate");
                 var max = $('#datepicker_to').datepicker("getDate");
                 // need to change str order before making  date obect since it uses a new Date("mm/dd/yyyy") format for short date.
                 var d = data[0].split("/");
                 var startDate = new Date(d[0]+ "/" +  d[1] +"/" + d[2]);
                 console.log(d);
                 console.log(startDate);
                 if (min == null && max == null) { return true; }
                 if (min == null && startDate <= max) { return true;}
                 if(max == null && startDate >= min) {return true;}
                 if (startDate <= max && startDate >= min) { return true; }
                 return false;
             }
         );


         $("#datepicker_from").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true , dateFormat:"mm/dd/yyyy"});
         $("#datepicker_to").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true, dateFormat:"mm/dd/yyyy" });
         var table = $('.datatable_filter').DataTable({
           "order":[],
           "oLanguage": {
             "sSearch": "Filter Data"
           },
           "iDisplayLength": -1,
           "sPaginationType": "full_numbers",
           dom: 'Bfrtip',
           buttons: [
             {
               extend: 'print',
               exportOptions: {
               columns: '.view'
               }
             }
           ],
           "lengthMenu": [10,20, 40, 60, 80, 100],
           "pageLength": 10
         });

         // Event listener to the two range filtering inputs to redraw on input
         $('#datepicker_from, #datepicker_to').change(function () {
             table.draw();
         });
  })
</script>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" data-dismiss="modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Uploaded Image</h4>
      </div>
      <div class="modal-body">
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>