<html>
<head>
<title>Delivery Order - Invoice</title>
<!-- jQuery 2.1.4 -->
<script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<style>
 @page 
    {
        size:  auto;   /* auto is the initial value */
        margin: 2mm;  /* this affects the margin in the printer settings */
    }

    html
    {
      font-family: 'Lucida Console';
        font-size: 80%;
        background-color: #FFFFFF; 
        margin: 5px;  /* this affects the margin on the html before sending to printer */
    }
</style>
</head>
<body>
  <p style="text-align:center"><b >ISIPos Online</b></p>
<hr>
<p  style="text-align:center"><img src="{{DOData.store.brand.imageUrlLogo}}" style="max-width:100px;text-align:center"><br><br><b>{{DOData.store.brand.name}}</b></p><br>
<label>Delivery Order</label><br>
<label>Shipper : <br>{{DOData.headOffice.name}}</label><br>
<label>Recipient : <br>{{DOData.store.name}}</label><br>
<label>QRCode : </label>
<p style="text-align:center">
  <img src="{{qrcode}}" style="max-width:100px;">
  <br>
  <label>{{DOData.doCode}}</label>
  </p>
<br>Item List : <br>
<hr>
{{#each DOData.deliveryItem}}
{{inc @index}}.{{this.item.name}}<br>
  {{/each}}
<hr>
</body>
</html>
<script>
  $(document).ready(function(){
    $('footer').hide();
    window.print();
  });
</script>
