<!-- Main content -->
<section class="content">
  <div>
    <h3>Items</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div style="text-align:right; margin-bottom:10px">
      <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateItem" style="margin-right: 10px;">Create Item</button>
      {{!-- <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateStock" style="margin-right: 10px;"> Restock Item</button> --}}
      <div class="dropdown" style="display: inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Unit Option
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#" data-toggle="modal" data-target="#add_unit">Add Unit</a></li>
        </ul>
      </div>
    </div>
    <div class="" style="margin-top:30px">
      <div class="table-responsive" id="item_list_table">
        <div class="inline-options">
        </div>
        <table id="example" class="table datatable table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Item Code</th>
              <th>Name</th>
              <th>Unit</th>
              <th>Created Date</th>
              <th>Created By</th>
              <th>Updated Date</th>
              <th>Updated By</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            {{#each items}}
            <tr>
              <td>{{this.itemCategory.prefix}}{{this.itemCodeNumber}}</td>
              <td>{{this.name}}</td>
              <td>{{this.unit.name}}</td>
              <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
              <td>{{this.createdBy.name}}</td>
              {{#if this.updatedDate}}
                <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                {{else}}
                <td>-</td>
              {{/if}}
              {{#if this.updatedBy}}
                <td>{{this.updatedBy.name}}</td>
                {{else}}
                <td>-</td>
              {{/if}}
              <td>
                <div style="display:flex">
                  {{#ifEquals ../user_data.role "ho_staff"}}
                    {{else}}
                  {{!-- <button class="btn btn-infSo btn-block detail_items btn-flex" type="button" data-toggle="modal" data-target="#Modal_{{this._id}}"><span class="fa fa-info-circle"></span></button> --}}
                  <button class="btn btn-primary btn-block edit_item btn-flex" type="button" data-url="item/{{this._id}}" data-toggle="modal" data-target="#ModalUpdateItem"><span class="fa fa-edit"></span></button>
                  <button class="btn btn-danger btn-block delete_btn btn-flex" type="button" data-url="delete_item/{{this._id}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button>
                  {{/ifEquals}}
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ModalCreateItem" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Item</h4>
      </div>
      <div class="modal-body">
        <form class="" action="create_item" method="post" id="create_item_category_form">
          <div class="form-col">
            <div class="form-group">
              <label>Category <span class="red-star">*</span>:</label>
              <select name="category_id" id="category_id" required>
                  <option value="">Select Category</option>
                  {{#each categories}}
                  <option value="{{this._id}}" data-prefix="{{this.prefix}}">{{this.name}}</option>
                  {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label>Prefix <span class="red-star">*</span>:</label>
              <input type="text" id="item_code_prefix" name="item_code_prefix" class="form-control" placeholder="ex: AV" readonly>
            </div>
            <div class="form-group">
              <label>Name <span class="red-star">*</span>:</label>
              <input type="text" id="name" class="form-control" name="name" required>
            </div>
            <div class="form-group">
              <label>Unit <span class="red-star">*</span>:</label>
              <select name="unit_id" required>
                  <option value="">Select Unit</option>
                  {{#each units}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
              </select>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-success btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalUpdateItem" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Item</h4>
      </div>
      <div class="modal-body">
        <form class="" action="edit_item" method="post" id="update_product_form">
          <input type="text" id="item_id" class="form-control hidden" name="item_id" readonly>
          <div class="form-col">
            <div class="form-group">
              <label>Name <span class="red-star">*</span>:</label>
              <input type="text" id="name" class="form-control" name="name" required>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-success btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Data</h4>
      </div>
      <div class="modal-body">
        Apakah anda yakin untuk menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
        <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
      </div>
    </div>
  </div>
</div>

<div id="add_unit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Unit</h4>
      </div>
      <div class="modal-body">
        <form class="" action="add_unit" method="post" id="add_unit_form">
          <input name="origin_path" class="hidden" value="item"/>
          <div class="form-col">
            <div class="unit_type_div">
              <label>Unit Type </label><br/>
              <div class="radio" >
                <label>
                  <input type="radio" name="unit_type_opt" id="unit_type_opt1" value="lowest" checked>
                  Lowest Unit
                </label>
              </div>
              {{!-- <div class="radio">
                <label>
                  <input type="radio" name="unit_type_opt" id="unit_type_opt2" value="highest">
                  Highest Unit
                </label>
              </div> --}}
            </div>
            <div class="lowest_unit_div form-group">
              <label>Name :</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="highest_unit_div" style="display: none">
              <div class="highest_unit_name_field form-group">
                <label>Name :</label>
                <input type="text" class="form-control highest_unit_name" id="highest_name" name="highest_name" placeholder="Ex: Box" > /
                <input type="number" class="form-control highest_unit_conversion" id="conversion" name="conversion" placeholder="Ex: 48" >
              </div>
              <div class="form-group">
                <label>Lowest Unit :</label>
                <select id="lowest_unit_ref" name="lowest_unit_ref">
                  <option value="">Select Unit</option>
                  {{#each units}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-success btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>