<!-- Main content -->
<section class="content">
  <div>
    <h3>Item Category</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div style="text-align:right; margin-bottom:10px">
      <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateCategory" style="margin-right: 10px;">Create New</button>
    </div>
    <div class="" style="margin-top:10px">
      <div class="table-responsive" id="suppliler_list_table">
        <table id="example" class="table datatable table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th class="view">Name</th>
              <th class="view">Prefix</th>
              <th class="view">Created Date</th>
              <th class="view">Created By</th>
              <th class="view">Updated Date</th>
              <th class="view">Updated By</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            {{#each categories}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.prefix}}</td>
              <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
              <td>{{this.createdBy.name}}</td>
              {{#if this.updatedDate}}
                <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                {{else}}
                <td>-</td>
              {{/if}}
              {{#if this.updatedBy}}
                <td>{{this.updatedBy.name}}</td>
                {{else}}
                <td>-</td>
              {{/if}}
              <td>
                <div style="display:flex">
                  {{#ifEquals ../user_data.role "ho_staff"}}
                    {{else}}
                  <button class="btn btn-primary btn-block edit_item_category btn-flex" type="button" data-url="item_category/{{this._id}}" data-toggle="modal" data-target="#ModalUpdateCategory"><span class="fa fa-edit"></span></button>
                  <button class="btn btn-danger btn-block delete_btn btn-flex" type="button" data-url="delete_item_category/{{this._id}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button>
                  {{/ifEquals}}
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ModalCreateCategory" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Category</h4>
      </div>
      <div class="modal-body">
        <form class="" action="create_item_category" method="post" id="create_category_form">
          <div class="form-col">
            <div class="form-group">
              <label>Name <span class="red-star">*</span>:</label>
              <input type="text" id="name" class="form-control" name="name" required>
            </div>
            <div class="form-group">
              <label>Prefix <span class="red-star">*</span>:</label>
              <input type="text" id="prefix" class="form-control" name="prefix" placeholder="ex: SY" required>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-default btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="ModalUpdateCategory" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Category</h4>
      </div>
      <div class="modal-body">
        <form class="" action="edit_item_category" method="post" id="update_product_form">
          <input type="text" id="category_id" class="form-control hidden" name="category_id" readonly>
          <div class="form-col">
            <div class="form-group">
              <label>Name <span class="red-star">*</span>:</label>
              <input type="text" id="name" class="form-control" name="name" required>
            </div>
            <div class="form-group">
              <label>Prefix <span class="red-star">*</span>:</label>
              <input type="text" id="prefix" class="form-control" name="prefix" placeholder="ex: SY" required>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-default btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Data</h4>
      </div>
      <div class="modal-body">
        Apakah anda yakin untuk menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
        <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
      </div>
    </div>
  </div>
</div>
