<!-- Main content -->
<section class="content" style="
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url({{brand.imageUrlBackground}});
  min-height: inherit;
  background-size: cover;
  ">
  <div>
    <h3>News</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div class="" style="padding: 0 15px">
      <div class="table-responsive">
        <div class="">
          <div class="col-md-2 ">
              <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateNews" >Create New</button>
          </div>
          <br><br><br>
        </div>
        <table id="example" class="table datatable table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th class="view">Created Date</th>
              <th class="view">Brand</th>
              <th class="view">Date</th>
              <th class="view">Title</th>
              <th class="view">Description</th>
              <th class="view">Created By</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each news}}
            <tr>
              <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
              <td>{{this.brand.name}}</td>
              <td>{{dateFormat this.validStartDate "MM/DD/YYYY" utc}}</td>
              <td>{{this.title}}</td>
              <td>{{this.description}}</td>
              {{#if this.createdBy}}
              <td>{{this.createdBy.name}}</td>
              {{else}}
              <td>-</td>
              {{/if}}
              <td><button class="btn btn-danger btn-block delete_btn" type="button" data-url="delete_news/{{this._id}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ModalCreateNews" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New News</h4>
      </div>
      <div class="modal-body">
        <form class="" action="create_news" method="post" id="create_news_form">
          <div class="form-col">
            <div class="form-group">
              <label>Valid Start Date <span class="fa fa-calendar red-star">*</span> :</label>
              <input type="text" class="form-control date" name="valid_start_date" autocomplete="off" required>
            </div>
            {{#ifEquals user_data.role "admin"}}
              <div class="form-group">
                <label>Brand <span class="red-star">*</span>:</label>
                <select class="form-control" name="brandId">
                  <option>Select Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            {{/ifEquals}}
            <div class="form-group">
              <label>Title <span class="red-star">*</span> :</label>
              <input type="text" id="title" class="form-control" name="title" required>
            </div>
            <div class="form-group">
              <label>Description  <span class="red-star">*</span>:</label>
              <textarea class="form-control" rows="5" name="description" ></textarea>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Data</h4>
      </div>
      <div class="modal-body">
        Apakah anda yakin untuk menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
        <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
      </div>
    </div>
  </div>
</div>
