<!-- Main content -->
<section class="content">
  <div>
    <h3>Notification</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div class="">
      <div class="col-md-12">
            <div class="panel panel-danger">
              <div class="panel-heading">Delivery Order Notification</div>
              <div class="panel-body" style="overflow-y: scroll;max-height:300px">
                <div class="list-group">
                  {{#each DOData_alert}}
                  {{#ifEquals this.type "direct_store"}}
                  <a href="/ho/delivery_order_detail/{{this._id}}" class="list-group-item"><b>{{doCode this._id}}</b> || <b>Supplier</b> : {{this.supplier.name}}, <b>Store</b> : {{this.store.name}}</a>
                  {{/ifEquals}} 
                  {{#ifEquals this.type "indirect_store"}}
                  <a href="/ho/delivery_order_detail/{{this._id}}" class="list-group-item"><b>{{doCode this._id}}</b> || <b>Head Office</b> : {{this.headOffice.name}}, <b>Store</b> : {{this.store.name}}</a>
                  {{/ifEquals}} 
                  {{#ifEquals this.type "direct_ho"}}
                  <a href="/ho/delivery_order_detail/{{this._id}}" class="list-group-item"><b>{{doCode this._id}}</b> || <b>Supplier</b> : {{this.supplier.name}}, <b>Head Office</b> : {{this.headOffice.name}}</a>
                  {{/ifEquals}} 
                  {{/each}}
                </div>
              </div>
          </div>
          </div>
    </div>
  </div>
</section>
