<!-- Main content -->
<section class="content" style="
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url({{brand.imageUrlBackground}});
  min-height: inherit;
  background-size: cover;
  ">
  <div>
    <h3>Payment</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div class="" style="padding: 0 15px">
      <div class="table-responsive">
        <div class="">
          <div class="col-md-2 ">
              <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreate" >Create Payment</button>
          </div>
          <br><br><br>
        </div>
        <table id="example" class="table datatable table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th class="view">Name</th>
              <th class="view">Brand</th>
              <th class="view">Logo</th>
              <th class="view">Type</th>
              <th class="view">Created By</th>
              <th class="view">Created Date</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each payment}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.brand.name}}</td>
              <td><img src="{{this.logo}}" style="max-width:100px"></td>
              <td>{{this.type}}</td>
              {{#if this.createdBy}}
              <td>{{this.createdBy.name}}</td>
              {{else}}
              <td>-</td>
              {{/if}}
              <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
              <td><button class="btn btn-success btn-block edit_payment" type="button" data-url="get_single_payment/{{this._id}}"  data-toggle="modal" data-target="#edit_modal"><span class="fa fa-edit"></span></button></td>
              <td><button class="btn btn-danger btn-block delete_btn" type="button" data-url="payment_delete/{{this._id}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ModalCreate" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Payment</h4>
      </div>
      <div class="modal-body">
        <form class="" action="" method="post" enctype="multipart/form-data">
          <div class="form-col">
            <div class="form-group">
              <label>Name <span class=" red-star">*</span> :</label>
              <input type="text" class="form-control" name="name" autocomplete="off" required>
            </div>
            <div class="form-group">
              <label>Logo <span class=" red-star">*</span> :</label>
              <input type="file" class="form-control" name="logo" autocomplete="off" required>
            </div>
            {{#ifEquals user_data.role "admin"}}
              <div class="form-group">
                <label>Brand <span class="red-star">*</span>:</label>
                <select class="form-control" name="brand" required>
                  <option>Select Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            {{/ifEquals}}
            <div class="form-group">
                <label>Type <span class="red-star">*</span>:</label>
                <select class="form-control" name="type" required>
                  <option>Select Status</option>
                  <option value="debit">Debit</option>
                  <option value="credit">Credit</option>
                  <option value="digital">Digital</option>
                  <option value="cash">Cash</option>
                </select>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{!-- Modal Edit --}}
<div class="modal fade" id="edit_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Payment</h4>
      </div>
      <div class="modal-body">
        <form class="" action="payment_edit" method="post">
          <div class="form-col">
            <div class="form-group">
              <input class="hidden" name="id" id="id">
              <label>Name <span class=" red-star">*</span> :</label>
              <input type="text" class="form-control" name="name" id="name" autocomplete="off" required>
            </div>
            <div class="form-group">
              <label>Logo :</label>
              <input type="file" class="form-control" name="logo" autocomplete="off" >
            </div>
            {{#ifEquals user_data.role "admin"}}
              <div class="form-group">
                <label>Brand <span class="red-star">*</span>:</label>
                <select class="form-control" name="brand" id="brand" required>
                  <option>Select Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            {{/ifEquals}}
            <div class="form-group">
                <label>Type <span class="red-star">*</span>:</label>
                <select class="form-control" name="type" id="type" required>
                  <option>Select Status</option>
                  <option value="debit">Debit</option>
                  <option value="credit">Credit</option>
                  <option value="digital">Digital</option>
                  <option value="cash">Cash</option>
                </select>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Data</h4>
      </div>
      <div class="modal-body">
        Apakah anda yakin untuk menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
        <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
      </div>
    </div>
  </div>
</div>
