<!-- Main content -->
<section class="content" style="
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url({{brand.imageUrlBackground}});
  min-height: inherit;
  background-size: cover;
  ">
  <div>
    <h3>Products</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div class="" style="margin-top:30px">
      <div class="table-responsive">
        <div class="">
          <div class="col-md-2 ">
              <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateProduct" style="margin-right: 10px;">Create New</button>
          </div>
          <div class="col-md-6">
            <p id="date_filter">
                <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter" type="text" id="datepicker_from" />
                <span id="date-label-to" class="date-label">To: <input class="date_range_filter" type="text" id="datepicker_to" />
            </p>
          </div>
          <br><br><br>
        </div>
        <table id="example" class="table  table-striped table-bordered datatable_filter" style="width:100%">
          <thead>
            <tr>
              <th class="view">Created Date</th>
              <th class="view">Brand</th>
              <th class="view">Name</th>
              <th>Image</th>
              <th class="view">Product Code</th>
              <th class="view">Description</th>
              <th class="view">Price</th>
              <th class="view">Category</th>              
              <th class="view">Group</th>
              <th class="view">Printer ID</th>
              <th class="view">Created By</th>
              <th class="view">Updated Date</th>
              <th class="view">Updated By</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
            <tr>
              <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
              <th>{{this.brand.name}}</th>
              <td>{{this.name}}</td>
              <th><img style="max-width:120px" src="{{this.imageProduct}}"></th>
              <td>{{this.productCode}}</td>
              {{!-- <td>
                {{#each this.productCategory}}
                  <p>{{this.name}}</p>
                {{/each}}
              </td> --}}
              <td>{{this.description}}</td>
              <td>{{moneyRegister this.price}}</td>
              <td>{{this.productCategory.name}}</td>
              <td>{{this.productGroup.name}}</td>
              <td>{{this.printerId}}</td>
              {{#if this.createdBy}}
              <td>{{this.createdBy.name}}</td>
              {{else}}
              <td>-</td>
              {{/if}}
              {{#if this.updatedDate}}
                <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                {{else}}
                <td>-</td>
              {{/if}}
              {{#if this.updatedBy}}
                <td>{{this.updatedBy.name}}</td>
              {{else}}
                <td>-</td>
              {{/if}}
              <td><button class="btn btn-primary btn-block edit_product" type="button" data-url="product/{{this._id}}" data-toggle="modal" data-target="#ModalUpdateProduct"><span class="fa fa-edit"></span></button></td>
              <td><button class="btn btn-danger btn-block delete_btn" type="button" data-url="delete_product/{{this._id}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ModalCreateProduct" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Product</h4>
      </div>
      <div class="modal-body">
        <form class="" action="create_product" method="post" id="create_product_form" enctype="multipart/form-data">
          <div class="form-col left-label">
              <label>Valid Start Date <span class="fa fa-calendar red-star">*</span>:</label>
              <br>
              <input type="text" class="form-control date" name="validStartDate" autocomplete="off" required>
            {{#ifEquals user_data.role "admin"}}
                <label>Brand <span class="red-star">*</span>:</label>
              <br>
                <select class="form-control" name="brandId">
                  <option>Select Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
            {{/ifEquals}}
              <label>Name <span class="red-star">*</span>:</label>
              <br>
              <input type="text" id="name" class="form-control" name="name" required>
              <label>Image <span class="red-star">*</span>:</label>
              <br>
              <input type="file" class="form-control" name="image" required>
              <label>Product Code <span class="red-star">*</span>:</label>
              <br>
              <input type="text" class="form-control" name="productCode" required>
              <label>Category <span class="red-star">*</span>:</label>
              <br>
              <select name="productCategory" placeholder="Select Category" style="width:100%" required="required">
                <option value="">Select Category</option>
                {{#each product_category}}
                  <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
              </select>
              <label>Product Description <span class="red-star">*</span>:</label>
              <br>
              <input type="text" class="form-control" name="description" required>
              <label>Product Price <span class="red-star">*</span>:</label>
              <br>
              <input type="text" class="form-control" name="price" required>
              <label>Printer id <span class="red-star">*</span>:</label>
              <br>
              <input type="text" class="form-control" name="printerId" required>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-primary btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="ModalUpdateProduct" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Product</h4>
      </div>
      <div class="modal-body">
        <form class="" action="edit_product" method="post" id="edit_product_form" enctype="multipart/form-data">
          <div class="form-col left-label">
            <input type="hidden" name="id" id="prod_id">
              <label>Valid Start Date <span class="fa fa-calendar">*</span>:</label>
              <br>
              <input type="text" class="form-control date" id="valid_start_date" name="validStartDate" autocomplete="off" required="required" multiple>
              {{#ifEquals user_data.role "admin"}}
              <label>Brand <span class="red-star">*</span>:</label>
              <br>
                <select class="form-control" name="brandId" id="brandId">
                  <option>Select Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              {{/ifEquals}}
              <label>Name <span class="red-star">*</span>:</label>
              <br>
              <input type="text" id="prod_name" name="name" class="form-control" required>
              <label>Image:</label>
              <br>
              <input type="file" class="form-control" name="image">
              <label>Product Code <span class="red-star">*</span>:</label>
              <br>
              <input type="text" class="form-control" name="productCode" id="product_code" required>
              <label>Category <span class="red-star">*</span>:</label>
              <br>
              <select name="productCategory" id="productCategory" class="form-control" placeholder="Select Categories" style="width:100%" required="required">
                <option value="">Select Category</option>
                {{#each product_category}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
              </select>
              <label>Product Description <span class="7digit">*</span>:</label>
              <br>
              <input type="text" class="form-control" id="description" name="description" required>
              <label>Product Price :</label>
              <br>
              <input type="text" class="form-control" id="price" name="price" required>
              <label>Printer id <span class="7digit">*</span>:</label>
              <br>
              <input type="text" class="form-control" id="printer_id" name="printerId" required>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-primary btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Data</h4>
      </div>
      <div class="modal-body">
        Apakah anda yakin untuk menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
        <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
      </div>
    </div>
  </div>
</div>

<div id="add_unit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Unit</h4>
      </div>
      <div class="modal-body">
        <form class="" action="add_unit" method="post" id="add_unit_form">
          <input name="origin_path" class="hidden" value="product"/>
          <div class="form-col">
            <div class="unit_type_div">
              <label>Unit Type </label><br/>
              <div class="radio" >
                <label>
                  <input type="radio" name="unit_type_opt" id="unit_type_opt1" value="lowest" checked>
                  Lowest Unit
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="unit_type_opt" id="unit_type_opt2" value="highest">
                  Highest Unit
                </label>
              </div>
            </div>
            <div class="lowest_unit_div form-group">
              <label>Name :</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="highest_unit_div" style="display: none">
              <div class="highest_unit_name_field form-group">
                <label>Name :</label>
                <input type="text" class="form-control highest_unit_name" id="highest_name" name="highest_name" placeholder="Ex: Box" > /
                <input type="number" class="form-control highest_unit_conversion" id="conversion" name="conversion" placeholder="Ex: 48" >
              </div>
              <div class="form-group">
                <label>Lowest Unit :</label>
                <select id="lowest_unit_ref" name="lowest_unit_ref">
                  <option value="">Select Unit</option>
                  {{#each lowest_unit}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-default btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="update_unit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Unit</h4>
      </div>
      <div class="modal-body">
        <form class="" action="update_unit" method="post" id="update_unit_form">
          <div class="form-col">
            <div class="lowest_unit_div form-group">
              <label>Name <span class="red-star">*</span>:</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="highest_unit_div" style="display: none">
              <div class="highest_unit_name_field form-group">
                <label>Name <span class="red-star">*</span>:</label>
                <input type="text" class="form-control highest_unit_name" id="highest_name" name="highest_name" placeholder="Ex: Box" required> /
                <input type="number" class="form-control highest_unit_conversion" id="conversion" name="conversion" placeholder="Ex: 48" required>
              </div>
              <div class="form-group">
                <label>Lowest Unit :</label>
                <select id="lowest_unit_ref" name="lowest_unit_ref">
                  <option>Select Unit</option>
                  {{#each lowest_unit}}
                  <option value="{{lowest_unit._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-default btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
  $.fn.dataTable.ext.search.push(
             function (settings, data, dataIndex) {
                 var min = $('#datepicker_from').datepicker("getDate");
                 var max = $('#datepicker_to').datepicker("getDate");
                 // need to change str order before making  date obect since it uses a new Date("mm/dd/yyyy") format for short date.
                 var d = data[0].split("/");
                 var startDate = new Date(d[0]+ "/" +  d[1] +"/" + d[2]);
                 console.log(d);
                 console.log(startDate);
                 if (min == null && max == null) { return true; }
                 if (min == null && startDate <= max) { return true;}
                 if(max == null && startDate >= min) {return true;}
                 if (startDate <= max && startDate >= min) { return true; }
                 return false;
             }
         );


         $("#datepicker_from").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true , dateFormat:"mm/dd/yyyy"});
         $("#datepicker_to").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true, dateFormat:"mm/dd/yyyy" });
         var table = $('.datatable_filter').DataTable({
           "order":[],
           "oLanguage": {
             "sSearch": "Filter Data"
           },
           "iDisplayLength": -1,
           "sPaginationType": "full_numbers",
           dom: 'Bfrtip',
           buttons: [
             {
               extend: 'print',
               exportOptions: {
               columns: '.view'
               }
             }
           ],
           "lengthMenu": [10,20, 40, 60, 80, 100],
           "pageLength": 10
         });

         // Event listener to the two range filtering inputs to redraw on input
         $('#datepicker_from, #datepicker_to').change(function () {
             table.draw();
         });
  })
</script>