<!-- Main content -->
<section class="content" style="
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url({{brand.imageUrlBackground}});
    min-height: inherit;
    background-size: cover;
  ">
  <div>
    <h3>Product Update</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div class="" style="padding: 0 15px">
      <div class="table-responsive">
        <div class="">
          <div class="col-md-2 ">
            <a href="/bm/create_product_update" class="btn btn-primary" >Create Product Update</a>
          </div>
          <br><br><br>
        </div>
        <table class="table datatable table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th class="view">Update Date</th>
              <th class="view">Valid Date</th>
              <th class="view">Product Changes</th>
              <th class="view">Brand</th>
              <th class="view">Created Date</th>
              <th class="view">Updated Date</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            {{#each product_update_list}}
            <tr>
              <td>{{dateFormat this.updateToPOSDate "MM/DD/YYYY" utc}}</td>
              <td>{{dateFormat this.validDate "MM/DD/YYYY" utc}}</td>
              <td>{{this.productChanges.length}} products</td>
              <td>{{this.brand.name}}</td>
              <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
              <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
              <td>
                <button class="btn btn-info btn-option view_product_update" type="button" data-url="get_single_product_update/{{this._id}}" data-toggle="modal" data-target="#view_modal"><span class="fa fa-eye"></span></button>
                <a href="/bm/edit_product_update/{{this._id}}" class="btn btn-success btn-option edit_product_update" type="button" ><span class="fa fa-edit"></span></a>
                <button class="btn btn-danger btn-option delete_btn" type="button" data-url="delete_product_update/{{this._id}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


{{!-- Modal View --}}
<div id="view_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-xlg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Product Update Detail</h4>
      </div>
      <div class="modal-body" style="text-align:left">
        <div>
          <p id="valid_date_field">
          </p>
          <p id="brand_field">
          </p>
        </div>
        <div>
          <div class="table-responsive" id="product_update_detail_table">
            <table class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th class="view">Product</th>
                  <th class="view">Price</th>
                  <th class="view">New Price</th>
                  <th class="view">New Name</th>
                  <th class="view">New Description</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Modal Delete --}}
<div id="delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Data</h4>
      </div>
      <div class="modal-body">
        Apakah anda yakin untuk menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
        <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
      </div>
    </div>
  </div>
</div>
