<!-- Main content -->
{{#ifEquals user_data.role "bm"}}
  <section class="content" style="
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url({{brand.imageUrlBackground}});
    min-height: inherit;
    background-size: cover;
    ">
{{/ifEquals}}
{{#ifEquals user_data.role "sm_warehouse"}}
  <section class="content" style="
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url({{brand.imageUrlBackground}});
    min-height: inherit;
    background-size: cover;
    ">
{{/ifEquals}}
{{#ifEquals user_data.role "sm_supervisor"}}
  <section class="content" style="
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url({{brand.imageUrlBackground}});
    min-height: inherit;
    background-size: cover;
    ">
{{/ifEquals}}
{{#ifEquals user_data.role "admin"}}
  <section class="content" id="profile">
{{/ifEquals}}
{{#ifEquals user_data.role "ho"}}
  <section class="content" id="profile">
{{/ifEquals}}
{{#ifEquals user_data.role "ho_staff"}}
  <section class="content" id="profile">
{{/ifEquals}}
  <div class="container-fluid">
    <h3>Profile</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-4">
        <div class="pos-form-pro">
          <table class="table-custom" style="background:none">
            <tr>
              <td><strong>Name</strong></td>
              <td>:</td>
              <td>{{user_data.name}}</td>
            </tr>
            <tr>
              <td><strong>Email</strong></td>
              <td>:</td>
              <td>{{user_data.email}}</td>
            </tr>
            <tr>
              <td><strong>Type</strong></td>
              <td>:</td>
              <td>{{convertRole user_data.role}}</td>
            </tr>
            {{#ifEquals user_data.role "sm"}}
            <tr>
              <td><strong>Brand</strong></td>
              <td>:</td>
              <td>{{brand.name}}</td>
            </tr>
            <tr>
              <td><strong>Store</strong></td>
              <td>:</td>
              <td>{{store.name}}</td>
            </tr>
            {{/ifEquals}}
            {{#ifEquals user_data.role "bm"}}
              <tr>
                <td><strong>Brand</strong></td>
                <td>:</td>
                <td>{{brand.name}}</td>
              </tr>
              {{/ifEquals}}
            <tr>
              <td><strong>Expired Date</strong></td>
              <td>:</td>
              <td>{{dateFormat user_data.expire "MMMM DD, YYYY" utc}}</td>
            </tr>
          </table>

          <form class="" method="post" action="">
            <div class="head-form">
              <h4>Change Password</h4>
              {{#if messages}}
                  <div class="alert alert-{{messages_type}}" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      {{messages}}
                  </div>
              {{/if}}
            </div>
            <div class="form-col">
              <div class="form-group">
                <label style="width:30%;float:left;text-align:right">New Password :</label>
                <input style="width:50%;float:left;margin-bottom:15px;left;margin-left:15px" type="password" class="form-control" name="password" required>
              </div>
              <div class="form-group">
                <label style="width:30%;float:left;text-align:right">Confirm Password :</label>
                <input style="width:50%;float:left;margin-bottom:15px;left;margin-left:15px" type="password" class="form-control" name="conf_password" required>
              </div>
            </div>
            <div class="footer-form-change_password">
              <button class="button-custom btn btn-primary">Submit New Password</button>
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
</div><!-- /.content-wrapper -->
