<!-- Main content -->
{{#ifEquals user_data.role "bm"}}
  <section class="content" style="
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url({{brand.imageUrlBackground}});
    min-height: inherit;
    background-size: cover;
    ">
{{/ifEquals}}
{{#ifEquals user_data.role "sm_warehouse"}}
  <section class="content" style="
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url({{brand.imageUrlBackground}});
    min-height: inherit;
    background-size: cover;
    ">
{{/ifEquals}}
{{#ifEquals user_data.role "sm_supervisor"}}
  <section class="content" style="
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url({{brand.imageUrlBackground}});
    min-height: inherit;
    background-size: cover;
    ">
{{/ifEquals}}
{{#ifEquals user_data.role "admin"}}
  <section class="content">
{{/ifEquals}}
{{#ifEquals user_data.role "ho"}}
  <section class="content">
{{/ifEquals}}
{{#ifEquals user_data.role "ho_staff"}}
  <section class="content">
{{/ifEquals}}
  <div>
    <h3>Receiving Goods</h3>
    <div class="" style="margin-top:30px">
      {{#if messages}}
        <div class="alert alert-{{messages_type}}" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{messages}}
        </div>
        {{/if}}
        <div style="text-align:right; margin-bottom:10px">
        {{!-- <a href="active_stock" class="btn btn-primary" style="margin-right: 10px;">Active Stock</a>
        <a href="stock_transaction" class="btn btn-primary" style="margin-right: 10px;">Stock Transaction History</a> --}}
        {{!-- <a href="create_delivery_order/direct_ho" type="button" class="btn btn-primary" style="margin-right: 10px;">Restock Items</a> --}}
        </div>
      <div class="table-responsive" id="delivery_order_table">
        <table id="do_table" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Options</th>
              <th>Code</th>
              {{!-- <th class=""></th> --}}
              <th class="view" colspan="2">Shipper</th>
              {{!-- <th class=""></th> --}}
              <th class="view" colspan="2">Recipient</th>
              <th class="view">Type</th>
              <th class="view">Items</th>
              <th class="view">Photos</th>
              <th class="view hidden">Paid Status</th>
              <th class="view">Paid Status</th>
              <th class="view">Timestamp</th>
            </tr>
          </thead>
          <tbody>
              {{#each DOData}}
              <tr>
                <td>
                  <div style="display:flex">
                    <button class="btn btn-info btn-block detail_items btn-flex" type="button" data-toggle="modal" data-target="#Modal_{{this._id}}"><span class="fa fa-eye"></span></button>
                    {{#ifEquals ../user_data.role "ho"}}
                      {{#ifEquals this.type "indirect_store"}}
                      <a target="_blank" href="invoice_delivery_order/{{this._id}}" class="btn btn-primary btn-block edit_product btn-flex" type="button"><span class="fa fa-print "></span></a>
                      {{/ifEquals}}
                      <button class="btn btn-danger btn-block delete_btn btn-flex" type="button" data-url="delete_delivery_order/{{this._id}}/{{this.type}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button>
                    {{/ifEquals}}
                    {{#ifEquals ../user_data.role "ho_staff"}}
                      {{#ifEquals this.type "indirect_store"}}
                      <a target="_blank" href="invoice_delivery_order/{{this._id}}" class="btn btn-primary btn-block edit_product btn-flex" type="button"><span class="fa fa-print "></span></a>
                      {{/ifEquals}}
                      {{!-- <button class="btn btn-danger btn-block delete_btn btn-flex" type="button" data-url="delete_delivery_order/{{this._id}}/{{this.type}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button> --}}
                    {{/ifEquals}}                    
                  </div>
                </td>
                <td>{{this.doCode}}</td>
                {{#ifEquals this.type "direct_store"}}
                  <td>Supplier</td>
                  <td>{{this.supplier.name}}</td>
                  <td>Store</td>
                  <td>{{this.store.name}}</td>
                {{/ifEquals}}
                {{#ifEquals this.type "indirect_store"}}
                  <td>Head Office</td>
                  <td>{{this.headOffice.name}}</td>
                  <td>Store</td>
                  <td>{{this.store.name}}</td>                  
                {{/ifEquals}}
                {{#ifEquals this.type "direct_ho"}}
                  <td>Supplier</td>
                  <td>{{this.supplier.name}}</td>                  
                  <td>Head Office</td>
                  <td>{{this.headOffice.name}}</td>                  
                {{/ifEquals}}      
                <td>{{convertDOType this.type}}</td>
                <td>
                  {{#each this.deliveryItem}} 
                    <p>
                      {{this.item.name}}
                      {{#ifEquals ../this.type "indirect_store"}}
                        ({{this.quantitySend}})
                        {{else}}
                        ({{this.quantityReceive}})
                      {{/ifEquals}}
                    </p>
                  {{/each}}
                </td>
                {{#if this.imageUrl}}
                  <td style="text-align:center">
                    <a href="javascript:void(0)" class="pop">
                        <img class="imageresource" src={{this.imageUrl}} width="50" height="50" style="margin:5px"/>
                    </a>
                  </td>
                  {{else}}
                  <td>
                    No Image
                  </td>
                {{/if}}
                <td class="hidden">
                    {{this.paidStatus}}
                </td>
                <td>
                    {{#ifEquals this.paidStatus 'paid'}}
                    <input type="checkbox" checked data-toggle="toggle" name="paidStatus" value="paid" class="paymentStatus changePaymentStatus" data-url="/ho/changePaidStatus/{{this._id}}" data-style="slow">
                    {{else}}
                    <input type="checkbox" data-toggle="toggle" name="paidStatus" class="paymentStatus changePaymentStatus" value="paid" data-url="/ho/changePaidStatus/{{this._id}}" data-style="slow">
                    {{/ifEquals}}
                </td>
                <td>{{dateFormat this.createdDate "MM/DD/YYYY HH:mm:ss" utc}}</td>
              </tr>
              {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div id="receiveItemModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form method="post" action="/sm/receive_items">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Receive Items</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Delivery Order Code : </label>
          <input class="form-control" name="do_code" id="do_code" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
      </form>
    </div>

  </div>
</div>
<div id="delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Data</h4>
      </div>
      <div class="modal-body">
        Apakah anda yakin untuk menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
        <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 10000;">
  <div class="modal-dialog" data-dismiss="modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Uploaded Image</h4>
      </div>
      <div class="modal-body">
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>

<div id="Modal_adjustment" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <form method="post" action="adjustment_process">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Adjustment</h4>
      </div>
      <div class="modal-body">
      <input class="hidden" name="do_id" id="do_id">
      <div class="form-group">
        <label>Plus/Minus</label>
        <select name="adjustment_type" class="form-control" required>
          <option value="">Please Choose</option>
          <option value="in">Plus</option>
          <option value="out">Minus</option>
        </select>
      </div>
      <div class="form-group">
        <label>Adjustment Value</label>
        <input min="0" type="number" name="adjustment_value" class="form-control" required>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="submit"  class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  </div>
</div>

<div id="add_unit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Unit</h4>
      </div>
      <div class="modal-body">
        <form class="" action="add_unit" method="post" id="add_unit_form">
          <input name="origin_path" class="hidden" value="delivery_order"/>
          <div class="form-col">
            <div class="unit_type_div">
              <label>Unit Type </label><br/>
              <div class="radio" >
                <label>
                  <input type="radio" name="unit_type_opt" id="unit_type_opt1" value="lowest" checked>
                  Lowest Unit
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="unit_type_opt" id="unit_type_opt2" value="highest">
                  Highest Unit
                </label>
              </div>
            </div>
            <div class="lowest_unit_div form-group">
              <label>Name :</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="highest_unit_div" style="display: none">
              <div class="highest_unit_name_field form-group">
                <label>Name :</label>
                <input type="text" class="form-control highest_unit_name" id="highest_name" name="highest_name" placeholder="Ex: Box" > /
                <input type="number" class="form-control highest_unit_conversion" id="conversion" name="conversion" placeholder="Ex: 48" >
              </div>
              <div class="form-group">
                <label>Lowest Unit :</label>
                <select id="lowest_unit_ref" name="lowest_unit_ref">
                  <option value="">Select Unit</option>
                  {{#each lowest_unit}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-default btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{{#each DOData}}
  <div id="Modal_{{this._id}}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xlg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delivery Order Detail</h4>
        </div>
        <div class="modal-body" style="text-align:left">
          <div style="display:flex">
            <div class="col-md-6">
              <p><b>Driver Name:</b> {{this.driverName}}</p>
              <p><b>Recipient Staff:</b>
                {{#if this.recipientUser}}
                {{this.recipientUser.name}}
                {{else}}
                On Progress
                {{/if}}
              </p>
              {{#ifEquals this.type "direct_store"}}
                <p><b>Shipper:</b> Supplier - {{this.supplier.name}}</p>
                <p><b>Recipient:</b> Store - {{this.store.name}}</p>
              {{/ifEquals}}
              {{#ifEquals this.type "indirect_store"}}
                <p><b>Shipper:</b> Head Office - {{this.headOffice.name}}</p>
                <p><b>Recipient:</b> Store - {{this.store.name}}</p>                        
              {{/ifEquals}}
              {{#ifEquals this.type "direct_ho"}}
                <p><b>Shipper:</b> Supplier - {{this.supplier.name}}</p>
                <p><b>Recipient:</b> Head Office - {{this.headOffice.name}}</p>                              
              {{/ifEquals}} 
              <p><b>Delivery Date:</b> {{dateFormat this.deliveryDate "MM/DD/YYYY" utc}}</p>
            </div>
            <div class="col-md-5">
              <p>
                <b>Created Date:</b>
                {{dateFormat this.createdDate "MM/DD/YYYY" utc}}
              </p>
              <p>
                <b>Created By:</b>
                {{this.createdBy.name}}
              </p>
              <p>
                <b>Updated Date:</b>
                {{#if this.updatedDate}}
                  {{dateFormat this.updatedDate "MM/DD/YYYY" utc}}
                  {{else}}
                  -
                {{/if}}
              </p>
              <p>
                <b>Updated By:</b>
                {{#if this.updatedBy}}
                  {{this.updatedBy.name}}
                  {{else}}
                  -
                {{/if}}
              </p>
              {{#if this.receiptDate}}
              <p>
                <b>Received Date:</b>
                  {{dateFormat this.receiptDate "MM/DD/YYYY" utc}}
              </p>
              {{/if}}
              {{#if this.receiptTime}}
              <p>
                <b>Received Time:</b>
                  {{this.receiptTime}}
              </p>
              {{/if}}
            </div>
            <div class="col-md-1" style="padding-right:0">
              {{#ifEquals ../user_data.role 'ho'}}
              <a target="_blank" href="/ho/delivery_order_print/true/{{this._id}}" class="btn btn-info btn-flex pull-right"><span class="fa fa-file-text-o"></span></a>
              {{else}}
              <a target="_blank" href="/sm/delivery_order_print/true/{{this._id}}" class="btn btn-info btn-flex pull-right"><span class="fa fa-file-text-o"></span></a>
              {{/ifEquals}}
            </div>
            <div class="col-md-1" style="padding-left:0;width:auto">
              {{#ifEquals ../user_data.role 'ho'}}
              <a target="_blank" href="/ho/delivery_order_print/{{this._id}}" class="btn btn-primary btn-flex pull-right"><span class="fa fa-print "></span></a>
              {{else}}
              <a target="_blank" href="/sm/delivery_order_print/{{this._id}}" class="btn btn-primary btn-flex pull-right"><span class="fa fa-print "></span></a>
              {{/ifEquals}}
            </div>            
          </div>
          <div>
            <div class="table-responsive" id="do_detail_table">
              <table class="table datatable table-striped table-bordered" style="width:100%">
                <thead>
                  <tr>
                    <th class="view">Item Code</th>
                    <th class="view">Name</th>
                    {{!-- {{#ifEquals ../user_data.role 'ho'}}
                    <th class="view">Quantity Sent</th>
                    {{/ifEquals}} --}}
                    <th class="view">Quantity Received</th>
                    {{!-- <th class="view">Difference</th> --}}
                    <th class="view">Unit</th>
                    <th class="view">Image</th>
                    {{#ifEquals ../user_data.role 'ho'}}
                    {{#ifEquals this.type "indirect_store"}}
                      <th class="view">Adjustment Quantity</th>
                      {{else}}
                      <th class="view">Total Weight</th>
                      <th class="view">Unit Price</th>
                      <th class="view">Total Price</th>
                    {{/ifEquals}}
                    {{/ifEquals}}
                    <th class="view">Return Quantity</th>
                    
                    {{!-- {{#if this.receiptDate}} --}}
                    {{#ifEquals ../user_data.role 'ho'}}
                      {{#ifEquals this.type "indirect_store"}}                    
                        <th>Adjustment Option</th>
                      {{/ifEquals}}
                    {{/ifEquals}}
                    {{!-- {{/if}} --}}
                    {{#if this.receiptDate}}
                    {{#ifEquals ../user_data.role 'ho'}}
                    {{#ifEquals this.type "direct_ho"}} 
                      <th>Return Option</th>
                    {{/ifEquals}}
                    {{/ifEquals}}
                    {{#ifEquals ../user_data.role 'sm_warehouse'}}
                    {{#ifEquals this.type "direct_store"}} 
                      <th>Return Option</th>
                    {{/ifEquals}}
                    {{/ifEquals}}
                    {{/if}}
                  </tr>
                </thead>
                <tbody>
                  {{#each this.deliveryItem}}
                  <tr>
                    <td>{{this.item.itemCategory.prefix}}{{this.item.itemCodeNumber}}</td>
                    <td>{{this.item.name}}</td>
                    {{!-- {{#ifEquals ../../user_data.role 'ho'}}
                    <td>
                      {{#if this.quantitySend}}
                        {{this.quantitySend}}
                        {{else}}
                        -
                      {{/if}}                    
                    </td>
                    {{/ifEquals}} --}}
                    <td>
                      {{#if this.quantityReceive}}
                        {{this.quantityReceive}}
                        {{else}}
                        On Progress
                      {{/if}}
                    </td>
                    {{!-- <td>
                      {{#if this.quantitySend}}
                        {{#if this.quantityReceive}}
                          {{substract this.quantitySend this.quantityReceive}}
                          {{else}}
                          On Progress
                        {{/if}}
                        {{else}}
                        -
                      {{/if}}
                    </td> --}}
                    <td>{{this.unit.name}}</td> 
                    {{#if this.image}}
                      <td style="text-align:center">
                        <a href="javascript:void(0)" class="pop">
                            <img class="imageresource" src={{this.image}} width="50" height="50" style="margin:5px"/>
                        </a>
                      </td>
                      {{else}}
                      <td>
                        No Image
                      </td>
                    {{/if}}                                     
                    {{#ifEquals ../../user_data.role 'ho'}}
                    {{#ifEquals ../this.type "indirect_store"}}
                      <td id="adjust-td-{{this._id}}">
                        {{#if this.quantityAdjustment}}
                          {{this.adjustmentType}} {{this.quantityAdjustment}}
                          {{else}}
                          Not Adjusted
                        {{/if}}
                      </td>
                      {{else}}
                      <td>
                        {{#if this.totalWeight}}
                          {{this.totalWeight}}
                          {{else}}
                          -
                        {{/if}}
                      </td>
                      <td>
                        {{#if this.unitPrice}}
                          {{moneyRegister this.unitPrice}}
                          {{else}}
                          -
                        {{/if}}                        
                      </td>
                      <td>
                        {{#if this.totalPrice}}
                          {{moneyRegister this.totalPrice}}
                          {{else}}
                          -
                        {{/if}}                        
                      </td>                      
                      {{/ifEquals}}
                    {{/ifEquals}}
                    <td id="return-td-{{this._id}}">
                      {{#if this.quantityReturn}}
                        {{this.quantityReturn}} ({{this.notesReturn}})
                        {{else}}
                        No Return
                      {{/if}}
                    </td>
                    {{#ifEquals ../../user_data.role 'ho'}}
                      {{#ifEquals ../this.type "indirect_store"}}
                        {{#if ../this.receiptDate}}
                            <td>
                              <div class="adjust-div" id="adjust-div-{{this._id}}" >
                                <div style="display:flex">
                                  <button class="btn btn-info btn-block btn-flex adjust-doi" id="adjust-doi-{{this._id}}" data-doitemid="{{this._id}}" type="button" style="width:40px; display:block"><span class="fa fa-cog"></span></button>
                                  <div class="form-group">
                                    <select class="form-control adjust-type" id="adjust-type-{{this._id}}" name="adjustment_type" style="display:none" data-doitemid="{{this._id}}" required>
                                      <option>Type</option>
                                      {{#ifEquals this.adjustmentType "Minus"}}
                                      <option value="out" selected>Minus</option>
                                      {{else}}
                                      <option value="out">Minus</option>
                                      {{/ifEquals}}
                                      {{#ifEquals this.adjustmentType "Plus"}}
                                      <option value="IN" selected>Plus</option>
                                      {{else}}
                                      <option value="IN">Plus</option>
                                      {{/ifEquals}}
                                    </select>
                                  </div>
                                  <input type="number" min="0" max="{{substract this.quantitySend this.quantityReceive}}" class="form-control adjust-input" id="adjust-input-{{this._id}}" name="adjustnum" style="width:120px; display:none" placeholder="Adjustment" data-doitemid="{{this._id}}" value="{{this.quantityAdjustment}}"required>
                                  <button class="btn btn-info btn-block btn-flex adjust-btn" id="adjust-btn-{{this._id}}" data-doid="{{../this._id}}" data-doitemid="{{this._id}}" data-stockid="{{this.stock._id}}" data-itemid="{{this.item._id}}" data-url="adjust_doitem" type="button" style="width:60px; display:none" disabled>Send</button>
                                </div>
                              </div>
                              <div id="adjust-loader-{{this._id}}" style="display:none">
                                <i class="fa fa-circle-o-notch fa-spin"></i>
                              </div>
                            </td>
                          {{else}}
                            <td>
                              <button class="btn btn-info btn-block btn-flex" type="button" style="width:40px; display:block" disabled><span class="fa fa-cog"></span></button>
                            </td>
                            {{/if}}
                        </td>
                      {{/ifEquals}}
                    {{/ifEquals}}
                    {{#ifEquals ../../user_data.role 'ho'}}
                    {{#ifEquals ../this.type "direct_ho"}} 
                      <td>
                      {{#if ../this.receiptDate}}
                        {{#if this.quantityReturn}}
                          -
                        {{else}}
                          <div class="adjust-div" id="return-div-{{this._id}}" >
                            <div style="display:flex">
                              <button class="btn btn-info btn-block btn-flex return-doi" id="return-doi-{{this._id}}" data-doitemid="{{this._id}}" type="button" style="width:40px; display:block"><span class="fa fa-undo"></span></button>
                              <div class="form-group">
                                <input type="text" name="return_notes" id="return-notes-{{this._id}}" class="form-control return-notes" style="display:none" placeholder="Notes">
                              </div>
                              <input type="number" min="0" max="{{this.quantitySend}}" class="form-control return-input" id="return-input-{{this._id}}" name="returnnum" style="width:120px; display:none" placeholder="Return" data-doitemid="{{this._id}}" required>
                              <button class="btn btn-info btn-block btn-flex return-btn" id="return-btn-{{this._id}}" data-doitemid="{{this._id}}" data-stockid="{{this.stock._id}}" data-itemid="{{this.item._id}}" data-url="return_doitem" type="button" style="width:60px; display:none" disabled>Send</button>
                            </div>
                          </div>
                          <div id="return-loader-{{this._id}}" style="display:none">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                          </div>
                          {{/if}}
                          {{else}}
                            <button class="btn btn-info btn-block btn-flex" type="button" style="width:40px; display:block" disabled><span class="fa fa-undo"></span></button>
                        {{/if}}
                        </td>
                    {{/ifEquals}}
                    {{/ifEquals}}
                    {{#ifEquals ../../user_data.role 'sm_warehouse'}}
                    {{#ifEquals ../this.type "direct_store"}} 
                      <td>
                      {{#if ../this.receiptDate}}
                        {{#if this.quantityReturn}}
                          -
                        {{else}}
                          <div class="adjust-div" id="return-div-{{this._id}}" >
                            <div style="display:flex">
                              <button class="btn btn-info btn-block btn-flex return-doi" id="return-doi-{{this._id}}" data-doitemid="{{this._id}}" type="button" style="width:40px; display:block"><span class="fa fa-undo"></span></button>
                              <div class="form-group">
                                <input type="text" name="return_notes" id="return-notes-{{this._id}}" class="form-control return-notes" style="display:none" placeholder="Notes">
                              </div>
                              <input type="number" min="0" max="{{this.quantitySend}}" class="form-control return-input" id="return-input-{{this._id}}" name="returnnum" style="width:120px; display:none" placeholder="Return" data-doitemid="{{this._id}}" required>
                              <button class="btn btn-info btn-block btn-flex return-btn" id="return-btn-{{this._id}}" data-doitemid="{{this._id}}" data-stockid="{{this.stock._id}}" data-itemid="{{this.item._id}}" data-url="return_doitem" type="button" style="width:60px; display:none" disabled>Send</button>
                            </div>
                          </div>
                          <div id="return-loader-{{this._id}}" style="display:none">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                          </div>
                          {{/if}}
                          {{else}}
                            <button class="btn btn-info btn-block btn-flex" type="button" style="width:40px; display:block" disabled><span class="fa fa-undo"></span></button>
                        {{/if}}
                        </td>
                    {{/ifEquals}}
                    {{/ifEquals}}
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
