<!-- Main content -->
<section class="content" style="padding-bottom: 44vh">
  <div>
    <h3>Receive Item</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div class="">
      <form class="" action="" method="post" id="receive_item_form" enctype="multipart/form-data">
       <input name="id" class="hidden" value="{{DOData._id}}" />
        <div class="form-col container">
          <div class="row">
          <div class="col-md-12" style="margin-bottom: 6vh">
            <div class="col-xs-12">
              <label>Member Name <span class="red-star">*</span>:</label>
              <input class="form-control" name="memberName" value="{{user_data.name}}" readonly>
            </div>
            <div class="col-xs-12">
              <label>Shipper <span class="red-star">*</span>:</label>
              <input class="form-control" name="shipper" value="{{DOData.headOffice.name}}" readonly>
            </div>
            <div class="col-xs-12">
              <label>Recipient <span class="red-star">*</span>:</label>
              <input class="form-control" name="recipient" value="{{DOData.store.name}}" readonly>
            </div>
            <div class="col-xs-12">
              <label>Delivery Date <span class="red-star">*</span>:</label>
              <input type="text" class="form-control " name="deliveryDate" value="{{dateFormat DOData.deliveryDate "YYYY-MM-DD" utc}}" readonly>
            </div>
            <div class="col-xs-12">
              <label>Driver Name <span class="red-star">*</span>:</label>
              <input type="text" id="driverName" class="form-control" name="driverName" value="{{DOData.driverName}}" readonly>
            </div>
            <div class="col-xs-12">
              <label>Receive Date <span class="red-star">*</span>:</label>
              {{#if DOData.receiptDate}}
              <input type="text" class="form-control date" autocomplete="off" name="receiptDate" value="{{dateFormat DOData.receiptDate "MM/DD/YYYY" utc}}" readonly>
              {{else}}
              <input type="text" class="form-control date" autocomplete="off" name="receiptDate" required>
              {{/if}}
            </div>
            <div class="col-xs-12">
              <label>Receive Time <span class="red-star">*</span>:</label>
              {{#if DOData.receiptTime}}
              <input type="text" class="form-control" name="receiptTime" value="{{DOData.receiptTime}} " readonly>
              {{else}}
              <input type="text" class="form-control datetimepicker " style="position:relative" name="receiptTime" required>
              {{/if}}
            </div>
            <div class="col-md-12 col-xs-12">
              <br>
          </div>
          </div>
          <div class="col-md-12 col-xs-12">
          <div class="table-responsive">
            {{#if receiptDate}}
             <table id="receive_item_table" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>No.</th>
                  <th class="hidden">itemOrderId</th>
                  <th class="hidden">ItemCode</th>
                  <th>Name</th>
                  <th>Unit</th>
                  <th>Quantity Warehouse</th>
                  <th class="hidden">Qty</th>
                </tr>
              </thead>
              <tbody>
                {{#each DOData.deliveryItem}}
                <tr>
                  <td>{{this._id}}</td>
                  <td>{{this.item.itemCodePrefix}}{{this.item.itemCodeNumber}}</td>
                  <td>{{this.item.name}}</td>
                  <td>{{this.unit.name}}</td>
                  <td>{{this.quantityReceive}}</td>
                  <td class="hidden" id="qty_{{this._id}}"><td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            {{else}}
            <table id="receive_item_table" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                <th class="hidden">No.</th>
                <th class="hidden">itemid</th>
                <th class="hidden">itemOrderId</th>
                <th class="hidden">ItemCode</th>
                <th class="hidden">qtySend</th>
                <th>Name</th>
                <th class="hidden">Unit</th>
                <th>Quantity</th>
                <th class="hidden">qty</th>
                <th>Image</th>
                <th class="hidden">img</th>
                </tr>
              </thead>
              <tbody>
                {{#each DOData.deliveryItem}}
                <tr>
                  <td class="hidden">{{inc @index}}</td>
                  <td class="hidden">{{this.item._id}}</td>
                  <td class="hidden">{{this._id}}</td>
                  <td class="hidden">{{this.item.itemCodePrefix}}{{this.item.itemCodeNumber}}</td>
                  <td class="hidden">{{this.qtySend}}</td>
                  <td class="vertical-middle">{{this.item.name}}</td>
                  <td class="hidden">{{this.unit.name}}</td>
                  <td class="td-div-0-margin" style="vertical-align:middle">
                    {{#if ../DOData.receiptTime}}
                    {{this.quantityReceive}}
                    {{else}}
                    <input pattern="^\d*(\.\d{0,2})?$" name="qty" type="number" class="form-control add-qty" data-qty="#qty_{{this._id}}" required>
                    {{this.unit.name}}
                    {{/if}}
                  </td>
                  <td class="hidden" id="qty_{{this._id}}"></td>
                  <td class="td-div-0-margin">
                    <input type="file" id="imgsrc_{{this._id}}" onchange="previewFile('{{this._id}}')" accept="image/*" capture="camera" ><br>
                    <img id="imgprev_{{this._id}}" src="" height="200" alt="Image preview...">
                  </td>
                  <td class="hidden" id="img64_{{this._id}}"></td>                          
                </tr>
                {{/each}}
              </tbody>
            </table>
            {{/if}}
          </div>
          <div class="col-md-4 col-xs-4 btn-save">
              <input class="hidden" name="updateItems" id="updateItems">
              {{#if DOData.receiptTime}}
              {{else}}
              <button type="submit" class="btn btn-success btn-custom-save " id="receive_item_btn" style="width:100%">Submit</button>
              {{/if}}
            </div>
          </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</section>
<script>
  function previewFile(id) {
    console.log('preview '+id)
    var preview = document.querySelector('#imgprev_'+id);
    var base64  = $('#img64_'+id);
    var file    = document.querySelector('#imgsrc_'+id).files[0];
    var reader  = new FileReader();

    reader.addEventListener("load", function () {
      console.log(reader.result)
      base64.text(reader.result)
      preview.src = reader.result
      var tabledt = $('#receive_item_table').tableToJSON({
        ignoreColumns: [0, 4, 5, 6, 9]
      })
      $("#updateItems").val(JSON.stringify(tabledt))
      console.log(JSON.stringify(tabledt))
    }, false)

    if (file) {
      reader.readAsDataURL(file);
    }
  }
</script>