<!-- Main content -->
{{#ifEquals user_data.role "bm"}}
  <section class="content" style="
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url({{brand.imageUrlBackground}});
    min-height: inherit;
        background-size: cover;
    ">
{{/ifEquals}}
{{#ifEquals user_data.role "sm_warehouse"}}
  <section class="content" style="
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url({{brand.imageUrlBackground}});
    min-height: inherit;
      background-size: cover;
    ">
{{/ifEquals}}
{{#ifEquals user_data.role "sm_supervisor"}}
  <section class="content" style="
    background:
      linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url({{brand.imageUrlBackground}});
    min-height: inherit;
        background-size: cover;
    ">
{{/ifEquals}}
{{#ifEquals user_data.role "admin"}}
  <section class="content">
{{/ifEquals}}
  <div class="row">
  <div class="pos-data-table table-news-brand">
    {{#ifEquals user_data.role "sm"}}
    <div class="top-cont">
      <div class="head-tex">
        <ul>
          <li>{{brand.name}}</li>
          <li>{{store.name}}</li>
        </ul>
      </div>
      <div class="body-text">
        <div class="text-date-title">
          <h4>News, <span>{{latest_news_date}} (latest news)</span></h4>
          <p>{{latest_news_desc}}</p>
        </div>
      </div>
    </div>
      {{/ifEquals}}
    <div>
      <h3>Revenue</h3>
      {{#if messages}}
          <div class="alert alert-{{messages_type}}" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{messages}}
          </div>
      {{/if}}
      <div class="col-md-12">
        {{#ifEquals user_data.role "admin"}}
        <div class="col-md-2 ">
            <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreatRevenue" >Create New</button>
        </div>
        {{/ifEquals}}
        <div class="col-md-6">
          <p id="date_filter">
            <div class="col-md-6 col-sm-3">
              <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date" type="text" id="datepicker_from" />
            </div>
            <div class="col-md-6 col-sm-3">
              <span id="date-label-to" class="date-label">To: <input class="date_range_filter date" type="text" id="datepicker_to" />
            </div>
          </p>
        </div>
        <br><br><br>
      </div>
      <div class="col-md-12">
      <div class="table-responsive">
    <table id="datatable" class="table datatable revenue filter-header table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
              <th class="view">Created Date</th>
              <th class="view">Store</th>
              <th class="view">Date</th>
              <th class="view">Shift</th>
              <th class="view">Cash</th>
              <th class="view">Card</th>
              <th class="view">Debit</th>
              <th class="view">Other</th>
              <th class="view">Disc</th>
              <th class="view">Tax</th>
              <th class="view">Created By</th>
              <th>Delete</th>
          </tr>
      </thead>
      <tbody>
        {{#each revenue}}
        <tr>
          <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc }}</td>
         <td>{{this.store.name}}</td>
         <td>{{dateFormat this.date "MM/DD/YYYY" utc}}</td>
         <td>{{this.shift}}</td>
         <td>Rp{{formatCurrency this.cash}}</td>
         <td>Rp{{formatCurrency this.card}}</td>
         <td>Rp{{formatCurrency this.debit}}</td>
         <td>Rp{{formatCurrency this.other}}</td>
         <td>Rp{{formatCurrency this.discount}}</td>
         <td>Rp{{formatCurrency this.tax}}</td>
         <td>{{this.createdBy.name}}</td>
        <td>
          {{#ifEquals ../user_data.role "admin"}}
            <button class="btn btn-danger btn-block delete_btn" type="button" data-toggle="modal" data-target="#delete_modal" data-url="delete_revenue/{{this._id}}"><span class="fa fa-trash"></span></button>
          {{/ifEquals}}
        </td>
       </tr>
     </tr>
     {{/each}}
        </tbody>
    </table>
  </div>
  </div>
  </div>
<!-- Small boxes (Stat box) -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div><!-- /.content-wrapper -->
<!-- Modal -->
  <div class="modal fade" id="ModalCreatRevenue" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Daily Revenue</h4>
        </div>
        <div class="modal-body">
          <form class="" action="create_revenue" method="post">
            <div class="form-col">
              {{#ifEquals user_data.role "admin"}}
                <div class="form-group">
                  <label>Brand <span class="red-star">*</span>:</label>
                  <select class="form-control" name="brandId" id="brand" data-url="/admin/get_store_list">
                    <option>Select Brand</option>
                    {{#each brands}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>
                <div class="form-group" id="store_select">
                  <label>Store <span class="red-star">*</span>:</label>
                  <select class="form-control" name="storeId" id="store">
                    <option>Choose Store</option>
                  </select>
                </div>
              {{/ifEquals}}
              <div class="form-group">
                <label>Date <i class="fa fa-calendar"></i><span class="red-star">*</span> :</label>
                <input autocomplete="off" type="text" class="form-control date" name="date" required>
              </div>
              <div class="form-group">
                <label>Shift <span class="red-star">*</span> :</label>
                <input autocomplete="off" type="number" class="form-control" name="shift" required>
              </div>
              <div class="form-group">
                <label>Cash <span class="red-star">*</span> :</label>
                <input autocomplete="off" type="number" class="form-control" name="cash" required>
              </div>
              <div class="form-group">
                <label>Card <span class="red-star">*</span> :</label>
                <input autocomplete="off" type="number" class="form-control" name="card" required>
              </div>
              <div class="form-group">
                <label>Debit <span class="red-star">*</span> :</label>
                <input autocomplete="off" type="number" class="form-control" name="debit" required>
              </div>
              <div class="form-group">
                <label>Other <span class="red-star">*</span> :</label>
                <input autocomplete="off" type="number" class="form-control" name="other" required>
              </div>
              <div class="form-group">
                <label>Discount <span class="red-star">*</span> :</label>
                <input autocomplete="off" type="number" class="form-control" name="discount" required>
              </div>
              <div class="form-group">
                <label>Tax :</label>
                <input autocomplete="off" type="number" class="form-control" name="tax" required>
              </div>
            </div>
            <div class="foot-btn-form-create">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="delete_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Data</h4>
        </div>
        <div class="modal-body">
          Apakah anda yakin untuk menghapus data ini?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
          <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
        </div>
      </div>
    </div>
  </div>
<script>
  $(document).ready(function () {
  $.fn.dataTable.ext.search.push(
             function (settings, data, dataIndex) {
                 var min = $('#datepicker_from').datepicker("getDate");
                 var max = $('#datepicker_to').datepicker("getDate");
                 // need to change str order before making  date obect since it uses a new Date("mm/dd/yyyy") format for short date.
                 var d = data[0].split("/");
                 var startDate = new Date(d[0]+ "/" +  d[1] +"/" + d[2]);
                 console.log(d);
                 console.log(startDate);
                 if (min == null && max == null) { return true; }
                 if (min == null && startDate <= max) { return true;}
                 if(max == null && startDate >= min) {return true;}
                 if (startDate <= max && startDate >= min) { return true; }
                 return false;
             }
         );


         $("#datepicker_from").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true , dateFormat:"mm/dd/yyyy"});
         $("#datepicker_to").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true, dateFormat:"mm/dd/yyyy" });
         var table = $('.datatable_filter').DataTable({
           "order":[],
           "oLanguage": {
             "sSearch": "Filter Data"
           },
           "iDisplayLength": -1,
           "sPaginationType": "full_numbers",
           dom: 'Bfrtip',
           buttons: [
             {
               extend: 'print',
               exportOptions: {
               columns: '.view'
               }
             }
           ],
           "lengthMenu": [10,20, 40, 60, 80, 100],
           "pageLength": 10
         });

         // Event listener to the two range filtering inputs to redraw on input
         $('#datepicker_from, #datepicker_to').change(function () {
             table.draw();
         });
  })
</script>