<!-- Main content -->
<section class="content">
  <div class="row">
      <div class="col-md-12">
        <h3>Revenue Report</h3>
        {{#if messages}}
            <div class="alert alert-{{messages_type}}" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{messages}}
            </div>
        {{/if}}
    <br>
    <div class="col-md-12">
      <div class="col-md-2">
        <div class="form-group">
      <label>Period</label>
        <select name="select_period" id="select_period" class="form-control">
          <option>Choose Period</option>
          <option value="all_time" selected>All the time</option>
          <option value="week">This Week</option>
        </select>
      </div>
      </div>
      </div>
  <div class="col-md-12">
    <div id="weekly_chart">
    </div>
      <div id="all_time_chart">
      </div>
  </div>
</div>

  </div>
<!-- Small boxes (Stat box) -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div><!-- /.content-wrapper -->
<script>
$("document").ready(function(){
  $("#all_time_chart").show();
  $("#weekly_chart").hide();
});
$("#select_period").change(function(){
  var val = $(this).val();
  if(val=='week') {
    $("#all_time_chart").hide();
    $("#weekly_chart").show();
  } else {
    $("#all_time_chart").show();
    $("#weekly_chart").hide();
  }
});
var area_month = new Morris.Area({
  element   : 'all_time_chart',
  resize    : true,
  data      : [
    {{#each all_time}}
    { store: "{{ this.store.name }}",
    total: "{{ this.total }}" },
     {{/each}}
  ],
  xkey      : 'store',
  ykeys     : ['total'],
  labels    : ['Total Revenue'],
  lineColors: ['#a0d0e0'],
  hideHover : 'auto',
  parseTime: false
});

var area_week = new Morris.Area({
  element   : 'weekly_chart',
  resize    : true,
  data      : [
    {{#each this_week}}
    { store: "{{ this.store.name }}",
    total: "{{ this.total }}" },
     {{/each}}
  ],
  xkey      : 'store',
  ykeys     : ['total'],
  labels    : ['Total Revenue'],
  lineColors: ['#a0d0e0'],
  hideHover : 'auto',
  parseTime: false
});

</script>
