<!-- Main content -->
<section class="content" style="
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url({{brand.imageUrlBackground}});
  min-height: inherit;
  background-size: cover;
  ">
  <div>
    <h3>Setting</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div class="" style="padding: 25px 15px">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>Logo Image</span>
          <button style="float:right; padding:2px 10px; margin-top:-3.5px;" data-toggle="modal" data-target="#ModalUpdateLogo" class="btn btn-primary">
            Change Image
          </button>
        </div>
        <div class="panel-body">
          {{#if brand.imageUrlLogo}}
          <img src="{{brand.imageUrlLogo}}" class="logo-brand" alt="Responsive image">
          {{else}}
          <label>No Image</label>
          {{/if}}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>Background Image</span>
          <button style="float:right; padding:2px 10px; margin-top:-3.5px;" data-toggle="modal" data-target="#ModalUpdateBackground" class="btn btn-primary">
            Change Image
          </button>
        </div>
        <div class="panel-body">
          {{#if brand.imageUrlBackground}}
          <img src="{{brand.imageUrlBackground}}" class="img-responsive" alt="Responsive image">
          {{else}}
          <label>No Image</label>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ModalUpdateLogo" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Logo Image</h4>
      </div>
      <div class="modal-body">
        <form class="" action="update_logo" method="post"  enctype="multipart/form-data">
          <div class="form-col">
            <div class="form-group">
              <input type="file" name="image" required>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalUpdateBackground" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Background Image</h4>
      </div>
      <div class="modal-body">
        <form class="" action="update_background" method="post"  enctype="multipart/form-data">
          <div class="form-col">
            <div class="form-group">
              <input type="file" name="image" required>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
