<!-- Main content -->
<section class="content">
  <div>
    {{#ifEquals user_data.role "ho"}}
      <h3>Initial Stock</h3>
    {{/ifEquals}}
    {{#ifEquals user_data.role "ho_staff"}}
      <h3>Initial Stock</h3>
    {{/ifEquals}}    
    {{#ifEquals user_data.role "sm_supervisor"}}
      <h3>Stock</h3>
    {{/ifEquals}}   
    {{#ifEquals user_data.role "sm_warehouse"}}
      <h3>Stock</h3>
    {{/ifEquals}}        
    
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div style="text-align:right; margin-bottom:10px">
      {{#ifEquals user_data.role "ho"}}
      <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateStock" style="margin-right: 10px;">Create New Stock</button>
      {{/ifEquals}}
      {{#ifEquals user_data.role "ho_staff"}}
      <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateStock" style="margin-right: 10px;">Create New Stock</button>
      {{/ifEquals}}      
      {{#ifEquals user_data.role "sm_supervisor"}}
      <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateStock" style="margin-right: 10px;">Create New Stock</button>
      {{/ifEquals}}
    </div>
    <div class="" style="margin-top:10px">
      <div class="table-responsive" id="suppliler_list_table">
        <table id="example" class="table datatable table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th class="view">Item Code</th>
              <th class="view">Item Name</th>
              <th class="view">Initial Stock</th>
              {{#ifEquals user_data.role "sm_supervisor"}}
                <th class="view">Current Stock</th>
              {{/ifEquals}}
              {{#ifEquals user_data.role "sm_warehouse"}}
                <th class="view">Current Stock</th>
              {{/ifEquals}}
              <th class="view">Unit</th>
              <th class="view">Notes</th>
              <th class="view">Timestamp</th>
              <th class="view">Updated</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            {{#each stocks}}
            <tr>
              <td>{{this.item.itemCategory.prefix}}{{this.item.itemCodeNumber}}</td>
              <td>{{this.item.name}}</td>
              <td>{{this.initialStock}}</td>
              {{#ifEquals ../user_data.role "sm_supervisor"}}
                <td>{{this.currentStock}}</td>
              {{/ifEquals}}
              {{#ifEquals ../user_data.role "sm_warehouse"}}
                <td>{{this.currentStock}}</td>
              {{/ifEquals}}              
              <td>{{this.item.unit.name}}</td>
              <td>
                {{#if this.notes}}
                  {{this.notes}}
                {{else}}
                  -
                {{/if}}
              </td>
              <td>{{dateFormat this.createdDate "MM/DD/YYYY HH:mm:ss" utc}}</td>
              {{#if this.updatedDate}}
                <td>{{dateFormat this.updatedDate "MM/DD/YYYY HH:mm:ss" utc}}</td>
                {{else}}
                <td>-</td>
              {{/if}}
              <td>
                {{#ifEquals ../user_data.role "ho"}}
                <div style="display:flex">
                  <button class="btn btn-primary btn-block edit_stock btn-flex" type="button" data-url="stock/{{this._id}}" data-toggle="modal" data-target="#ModalUpdateStock"><span class="fa fa-edit"></span></button>
                  <button class="btn btn-danger btn-block delete_btn btn-flex" type="button" data-url="delete_stock/{{this._id}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button>
                </div>
                {{/ifEquals}}
                {{#ifEquals ../user_data.role "ho_staff"}}
                <div style="display:flex">
                  {{!-- <button class="btn btn-primary btn-block edit_stock btn-flex" type="button" data-url="stock/{{this._id}}" data-toggle="modal" data-target="#ModalUpdateStock"><span class="fa fa-edit"></span></button> --}}
                  {{!-- <button class="btn btn-danger btn-block delete_btn btn-flex" type="button" data-url="delete_stock/{{this._id}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button> --}}
                </div>
                {{/ifEquals}}                
                {{#ifEquals ../user_data.role "sm_supervisor"}}
                <div style="display:flex">
                  <button class="btn btn-primary btn-block edit_stock btn-flex" type="button" data-url="stock/{{this._id}}" data-toggle="modal" data-target="#ModalUpdateStock"><span class="fa fa-edit"></span></button>
                  <button class="btn btn-danger btn-block delete_btn btn-flex" type="button" data-url="delete_stock/{{this._id}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button>
                </div>
                {{/ifEquals}}
                {{#ifEquals ../user_data.role "sm_warehouse"}}
                  <button class="btn btn-warning btn-block btn-flex spoil-btn" style="width: 40px;margin: 0 auto !important;" type="button" data-toggle="modal" data-item-name="{{this.item.name}}" data-target="#modalspoil" data-id="{{this._id}}"><span class="fa fa-window-close "></span></button>
                {{/ifEquals}}                
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ModalCreateStock" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Stock</h4>
      </div>
      <div class="modal-body">
        <form class="item_related" action="create_stock" method="post" id="pre_create_stock_form">
          <div class="form-col">
            <div class="form-group">
              <label>Item <span class="red-star">*</span>:</label>
              <input class="hidden" name="selected_item" id="selected_item" required>
              <input class="form-control" id="list_item_input" list="list_item" placeholder="Select Item" autocomplete="off" required>
              <datalist id="list_item">
                {{#each items}}
                <option data-id="{{this._id}}" data-unitname="{{this.unit.name}}" data-unitid="{{this.unit._id}}" data-itemcode="{{this.itemCategory.prefix}}{{itemCodeNumber}}">{{this.name}}</option>
                {{/each}}
              </datalist>
            </div>
            <div class="form-group">
              <label>Initial Stock <span class="red-star">*</span>:</label>
              <input min="0" type="number" class="form-control" name="initial_stock" id="initial_stock" required>
            </div>
            <div class="form-group">
              <label>Notes <span class=""></span>:</label>
              <input type="text" class="form-control" name="notes" id="notes">
            </div>            
            <div class="form-group">
              <label>Unit <span class=""></span>:</label>
              <input type="text" class="form-control" id="unit" readonly>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-default btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalUpdateStock" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Stock</h4>
      </div>
      <div class="modal-body">
        <form class="" action="edit_stock" method="post" id="update_product_form">
          <input type="text" id="stock_id" class="form-control hidden" name="stock_id" readonly>
          <div class="form-col">
            <div class="form-group">
              <label>Initial Stock <span class="red-star">*</span>:</label>
              <input type="text" id="edit_initial_stock" class="form-control" name="initial_stock" required>
            </div>
            <div class="form-group">
              <label>Notes <span class=""></span>:</label>
              <input type="text" class="form-control" name="notes" id="edit_notes">
            </div>              
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-default btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalspoil" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Spoil Stock</h4>
      </div>
      <div class="modal-body">
        <form class="" action="spoil_stock" method="post" >
          <input type="text" id="stock_id_spoil" class="form-control hidden" name="stock_id" readonly>
          <div class="form-col">
            <div class="form-group">
              <label>Item Name <span class="red-star">*</span>:</label>
              <input type="text" class="form-control" name="item_name" value="" id="item_name_spoil" readonly>
            </div>
            <div class="form-group">
              <label>Quantity <span class="red-star">*</span>:</label>
              <input type="number" class="form-control" min="0" name="quantity" required>
            </div>
            <div class="form-group">
              <label>Reason <span class="red-star">*</span>:</label>
              <input type="text" class="form-control" name="reason" required>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-default btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Data</h4>
      </div>
      <div class="modal-body">
        Apakah anda yakin untuk menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
        <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
      </div>
    </div>
  </div>
</div>
