<!-- Main content -->
<section class="content">
  <div>
    <h3>Stock Transaction History</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    {{!-- <div style="text-align:right; margin-bottom:10px">
      <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateStock" style="margin-right: 10px;"> Restock Item</button>
      <div class="dropdown" style="display: inline">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Unit Option
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#" data-toggle="modal" data-target="#add_unit">Add Unit</a></li>
        </ul>
      </div>
    </div> --}}
    <div class="" style="margin-top:30px">
      <div class="table-responsive" id="item_list_table">
        <div class="inline-options">
        </div>
        <table id="history_stock_table" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Item Code</th>
              <th>Name</th>
              <th>Type</th>
              <th>Quantity</th>
              <th>Total Weight</th>
              <th>Unit Price</th>
              <th>Total Price</th>
              <th>Unit</th>
              <th>Created Date</th>
              <th>Created By</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{#each trans}}
            <tr>
              <td>{{this.stock.item.itemCategory.prefix}}{{this.stock.item.itemCodeNumber}}</td>
              <td>{{this.stock.item.name}}</td>
              {{#ifEquals this.type "in"}}
              <td><span class="label label-success fa fa-arrow-down"> In</span></td>
              {{/ifEquals}}
              {{#ifEquals this.type "out"}}
              <td><span class="label label-danger fa fa-arrow-up"> Out</span></td>
              {{/ifEquals}}
              {{#ifEquals this.type "initial"}}
              <td><span class="label label-success fa fa-arrow-down"> Initial</span></td>
              {{/ifEquals}}
              <td>{{this.quantity}}</td>
              <td>
                {{#if this.doItemId.totalWeight}}
                  {{this.doItemId.totalWeight}}
                  {{else}}
                  -
                {{/if}}
              </td>
              <td>
                {{#if this.doItemId.unitPrice}}
                  {{this.doItemId.unitPrice}}
                  {{else}}
                  -
                {{/if}}
              </td>
              <td>
                {{#if this.doItemId.totalPrice}}
                  {{this.doItemId.totalPrice}}
                  {{else}}
                  -
                {{/if}}
              </td>
              <td>{{this.stock.item.unit.name}}</td>
              <td>{{dateFormat this.createdDate "MM/DD/YYYY HH:mm:ss" utc}}</td>
              <td>{{this.createdBy.name}}</td>
              <td>{{this.description}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{{!-- 
<!-- Modal -->
<div class="modal fade" id="ModalCreateStock" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Restock Item</h4>
      </div>
      <div class="modal-body">
        <form class="" action="restock_item" method="post" id="create_stock_form">
          <input type="number" class="form-control hidden" id="cnv" name="cnv" required readonly>
          <div class="form-col">
            <div class="form-group">
              <label>Item <span class="red-star">*</span>:</label>
              <select class="form-control" name="selected_item" id="selected_item" required>
                <option>Select Item</option>
                {{#each items}}
                  <option value="{{this._id}}" data-unitid="{{this.unit._id}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label>Unit <span class="red-star">*</span>:</label>
              <select class="form-control" name="unit_id" id="unit_id" required>
                  <option value="">Select Unit</option>
                  {{#each units}}
                    {{#each this.highestUnit}}
                      <option value="{{this._id}}" class="opt {{../this._id}}" data-conversion="{{this.HTLConversion}}">{{this.name}} {{../this.name}}</option>
                    {{/each}}
                  {{/each}}
              </select>
            </div>            
            <div class="form-group">
              <label>Quantity <span class="red-star">*</span>:</label>
              <input type="number" class="form-control" name="quantity" id="quantity" required>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-default btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> --}}

<div id="add_unit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Unit</h4>
      </div>
      <div class="modal-body">
        <form class="" action="add_unit" method="post" id="add_unit_form">
          <input name="origin_path" class="hidden" value="item"/>
          <div class="form-col">
            <div class="unit_type_div">
              <label>Unit Type </label><br/>
              <div class="radio" >
                <label>
                  <input type="radio" name="unit_type_opt" id="unit_type_opt1" value="lowest" checked>
                  Lowest Unit
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="unit_type_opt" id="unit_type_opt2" value="highest">
                  Highest Unit
                </label>
              </div>
            </div>
            <div class="lowest_unit_div form-group">
              <label>Name :</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="highest_unit_div" style="display: none">
              <div class="highest_unit_name_field form-group">
                <label>Name :</label>
                <input type="text" class="form-control highest_unit_name" id="highest_name" name="highest_name" placeholder="Ex: Box" > /
                <input type="number" class="form-control highest_unit_conversion" id="conversion" name="conversion" placeholder="Ex: 48" >
              </div>
              <div class="form-group">
                <label>Lowest Unit :</label>
                <select id="lowest_unit_ref" name="lowest_unit_ref">
                  <option value="">Select Unit</option>
                  {{#each units}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-default btn-custom-save" style="width:50%">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
