<!-- Main content -->
<section class="content" style="
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url({{brand.imageUrlBackground}});
  min-height: inherit;
  background-size: cover;
  ">
  <div>
    <h3>Table</h3>
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
    <div class="" style="padding: 0 15px">
      <div class="table-responsive">
        <div class="">
          <div class="col-md-2 ">
              <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreate" >Create Table</button>
          </div>
          <br><br><br>
        </div>
        <table id="example" class="table datatable table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th class="view">Number</th>
              <th class="view">Brand</th>
              <th class="view">Store</th>
              <th class="view">Created By</th>
              <th class="view">Created Date</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {{#each table}}
            <tr>
              <td>{{this.number}}</td>
              <td>{{this.brand.name}}</td>
              <td>{{this.store.name}}</td>
              {{#if this.createdBy}}
              <td>{{this.createdBy.name}}</td>
              {{else}}
              <td>-</td>
              {{/if}}
              <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
              <td><button class="btn btn-success btn-block edit_table" type="button" data-url="get_single_table/{{this._id}}" data-toggle="modal" data-target="#edit_modal"><span class="fa fa-edit"></span></button></td>
              <td><button class="btn btn-danger btn-block delete_btn" type="button" data-url="table_delete/{{this._id}}" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ModalCreate" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Table</h4>
      </div>
      <div class="modal-body">
        <form class="" action="" method="post">
          <div class="form-col">
            <div class="form-group">
              <label>Table Number <span class=" red-star">*</span> :</label>
              <input type="text" class="form-control" name="number" autocomplete="off" required>
            </div>
            {{#ifEquals user_data.role "admin"}}
              <div class="form-group">
                <label>Brand <span class="red-star">*</span>:</label>
                <select class="form-control" name="brand" required>
                  <option>Select Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            {{/ifEquals}}
              <div class="form-group">
                <label>Store <span class="red-star">*</span>:</label>
                <select class="form-control" name="store" required>
                  <option>Select Store</option>
                  {{#each store}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            <div class="form-group">
                <label>Type <span class="red-star">*</span>:</label>
                <select class="form-control" name="type" required>
                  <option>Select Type</option>
                  <option value="dinein">Dine-In</option>
                  <option value="takeaway">Takeaway</option>
                </select>
            </div>
            <div class="form-group">
                <label>Status <span class="red-star">*</span>:</label>
                <select class="form-control" name="status" required>
                  <option>Select Status</option>
                  <option value="available">Available</option>
                  <option value="unavailable">Unavailable</option>
                  <option value="booked">Booked</option>
                </select>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{!-- Modal Edit --}}
<div class="modal fade" id="edit_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Table</h4>
      </div>
      <div class="modal-body">
        <form class="" action="table_edit" method="post">
          <div class="form-col">
            <div class="form-group">
              <input  class="hidden" name="id"  id="id" required>
              <label>Table Number <span class=" red-star">*</span> :</label>
              <input type="text" class="form-control" name="number" autocomplete="off"  id="table_number" required>
            </div>
            {{#ifEquals user_data.role "admin"}}
              <div class="form-group">
                <label>Brand <span class="red-star">*</span>:</label>
                <select class="form-control" name="brand" id="brand" required>
                  <option>Select Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            {{/ifEquals}}
              <div class="form-group">
                <label>Store <span class="red-star">*</span>:</label>
                <select class="form-control" name="store" id="store" required>
                  <option>Select Store</option>
                  {{#each store}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            <div class="form-group">
                <label>Type <span class="red-star">*</span>:</label>
                <select class="form-control" name="type"  id="type" required>
                  <option>Select Type</option>
                  <option value="dinein">Dine-In</option>
                  <option value="takeaway">Takeaway</option>
                </select>
            </div>
            <div class="form-group">
                <label>Status <span class="red-star">*</span>:</label>
                <select class="form-control" name="status" id="status" required>
                  <option>Select Status</option>
                  <option value="available">Available</option>
                  <option value="unvailable">Unavailable</option>
                  <option value="booked">Booked</option>
                </select>
            </div>
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Data</h4>
      </div>
      <div class="modal-body">
        Apakah anda yakin untuk menghapus data ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
        <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
      </div>
    </div>
  </div>
</div>
