<!-- Main content -->
<section class="content">
  <div class="row">
      <div class="col-md-12">
        <h3>User Report</h3>
        {{#if messages}}
            <div class="alert alert-{{messages_type}}" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{messages}}
            </div>
        {{/if}}
        <div class="tab-content">
  <div id="brand_tab" class="tab-pane fade in active">
    <br>
    <div class="col-md-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateBrand" >Create New</button>
      </div>
      <div class="col-md-10">
      <p id="date_filter">
        <div class="col-md-6 col-sm-3">
          <span id="date-label-from" class="date-label">From: </span><input class="date_range_filter date" type="text" id="datepicker_from" />
        </div>
        <div class="col-md-6 col-sm-3">
          <span id="date-label-to" class="date-label">To: <input class="date_range_filter date" type="text" id="datepicker_to" />
        </div>
      </p>
    </div>
  <div class="col-md-12">
    <br>
    <div class="table-responsive">
  <table id="datatable"Date class="table datatable -striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
      {{#each brands}}
      <tr>
       <td>{{this.name}}</td>
       <td><button class="btn btn-primary btn-block brand_edit"  type="button" data-url="/admin/brand/{{this._id}}" data-toggle="modal" data-target="#ModalUpdateBrand"><span class="fa fa-edit"></span></button></td>
       <td><button class="btn btn-danger btn-block delete_btn" type="button" data-toggle="modal" data-target="#delete_modal" data-url="delete_brand/{{this._id}}"><span class="fa fa-trash"></span></button></td>
     </tr>
   </tr>
   {{/each}}
      </tbody>
  </table>
  </div>
  </div>
    </div>
    </div>
</div>

  </div>
<!-- Small boxes (Stat box) -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div><!-- /.content-wrapper -->
<!-- Modal -->
