<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
    {{#if messages}}
    <div class="alert alert-{{messages_type}}" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{messages}}
    </div>
    {{/if}}
        <div class="table-responsive">
          <h3>User</h3>
          <div class="">
            <div class="col-md-2 ">
                <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCreateUser" >Create New</button>
            </div>
            <br><br><br>
          </div>
        <table id="example" class="table datatable table-striped table-bordered" style="width:100%">
          <thead>
              <tr>
                  <th class="view">Name</th>
                  <th class="view">Email</th>
                  {{#ifEquals user_data.role "admin" }}
                    <th class="view">Head Office</th>
                  {{/ifEquals}}
                  <th class="view">Brand</th>
                  <th class="view">Store</th>
                  <th class="view">Expire</th>
                  <th class="view">Role</th>
                  <th class="view">Created Date</th>
                  <th class="view">Created By</th>
                  <th class="view">Updated Date</th>
                  <th class="view">Updated By</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
            {{#each user_list}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                {{#ifEquals ../user_data.role "admin" }}
                  <td>
                    {{#if this.headOffice.name }}
                      {{this.headOffice.name}}
                      {{else}}
                      No Head Office
                    {{/if}}
                  </td>
                {{/ifEquals}}                
                <td>{{#if this.brand.name }}
                  {{this.brand.name}}
                  {{else}}
                  No Brand
                {{/if}}</td>
                <td>{{#if this.store.name }}
                  {{this.store.name}}
                  {{else}}
                  No Store
                {{/if}}</td>
                <td>{{#if this.expire }}
                  {{dateFormat this.expire "MM/DD/YYYY" utc}}
                  {{else}}
                  No Expiration Date
                {{/if}}
                  </td>
                <td>{{convertRole this.role}}</td>
                <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                {{#if this.createdBy}}
                <td>{{this.createdBy.name}}</td>
                {{else}}
                <td>-</td>
                {{/if}}
                {{#if this.updatedDate}}
                  <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                  {{else}}
                  <td>-</td>
                {{/if}}
                {{#if this.updatedBy}}
                  <td>{{this.updatedBy.name}}</td>
                  {{else}}
                  <td>-</td>
                {{/if}}
                <td>
                {{#ifEquals ../user_data.role "ho_staff"}}
                    {{else}}
                  <button class="btn btn-primary btn-block edit_btn"  type="button" data-url="/{{../user_data.role}}/user/{{this._id}}" data-toggle="modal" data-target="#ModalUpdateUser"><span class="fa fa-edit"></span></button>
                  {{/ifEquals}}
                  </td>
                <td>
                {{#ifEquals ../user_data.role "ho_staff"}}
                    {{else}}
                  <button class="btn btn-danger btn-block delete_btn" type="button" data-url="/{{../user_data.role}}/delete_user/{{this._id}}/user" data-toggle="modal" data-target="#delete_modal"><span class="fa fa-trash"></span></button>
                  {{/ifEquals}}
                  </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="ModalCreateUser" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New User</h4>
      </div>
      <div class="modal-body">
        <form action="/{{user_data.role}}/create_user/user" method="post">
          <div class="form-col">
            <div class="form-group">
              <label>Name <span class="red-star">*</span>:</label>
              <input type="text" id="name" class="form-control" name="name" required>
            </div>
            <div class="form-group">
              <label>Email <span class="red-star">*</span>:</label>
              <input type="email" class="form-control" name="email" required>
            </div>
            <div class="form-group">
              <label>Role <span class="red-star">*</span>:</label>
              <select class="form-control" name="role" id="role" required>
                <option>Choose Role</option>
                {{#ifEquals user_data.role "admin" }}
                  <option value="admin">Admin</option>
                  <option value="ho">Head Officer</option>
                  <option value="ho_staff">HO Staff</option>
                {{/ifEquals}}
                <option value="bm">Brand Manager</option>
                <option value="sm_supervisor">Store Manager (Supervisor)</option>
                <option value="sm_warehouse">Store Manager (Warehouse)</option>
                <option value="waiter">Waiter</option>
                <option value="cashier">Cashier</option>
              </select>
            </div>
            {{#ifEquals user_data.role "admin" }}
              <div class="form-group" id="ho_select">
                <label>Head Office <span class="red-star">*</span>:</label>
                <select class="form-control" name="hoID" id="hoID">
                  <option>Choose Head Office</option>
                  {{#each HO}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            {{/ifEquals }}
            <div class="form-group" id="brand_select">
              <label>Brand <span class="red-star">*</span>:</label>
              <select class="form-control" name="brand" id="brand" data-url="/admin/get_store_list">
                <option>Choose Brand</option>
                {{#each brands}}
                <option value="{{this._id}}" data-hoid="{{this.headOffice}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group" id="store_select">
              <label>Store <span class="red-star">*</span>:</label>
              <select class="form-control" name="store" id="store">
                <option>Choose Store</option>
              </select>
            </div>
            <div class="form-group">
              <label>Expire Date <span class="fa fa-calendar red-star">*</span>:</label>
              <input type="text" name="expire" class="form-control date" autocomplete="off">
            </div>
            <div class="form-group">
              <label>Password <span class="red-star">*</span>:</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <div class="form-group">
              <label>Confirm Password <span class="red-star">*</span>:</label>
              <input type="password" class="form-control" name="confirm_password" required>
            </div>
            <!-- <div class="form-group">
              <label>Image Profile <span class="red-star">*</span>:</label>
              <input type="file" name="image_profile" id="image_profile" required>
            </div> -->
          </div>
          <div class="foot-btn-form-create">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
  <div class="modal fade" id="ModalUpdateUser" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update User</h4>
        </div>
        <div class="modal-body">
          <form class="" action="/{{user_data.role}}/update_user/user" method="post">
            <div class="form-col">
              <input type="hidden" name="id" id="id_edit">
              <div class="form-group">
                <label>Name <span class="red-star">*</span>:</label>
                <input type="text" id="name_edit" class="form-control" name="name" required>
              </div>
              <div class="form-group">
                <label>Email <span class="red-star">*</span>:</label>
                <input type="email" class="form-control" name="email" id="email_edit" required>
              </div>
              <div class="form-group">
                <label>Role <span class="red-star">*</span>:</label>
                <select class="form-control" name="role" id="role_edit" required>
                  <option>Choose Role</option>
                  {{#ifEquals user_data.role "admin" }}
                    <option value="admin">Admin</option>
                    <option value="ho">Head Officer</option>
                    <option value="ho_staff">HO Staff</option>
                  {{/ifEquals}}
                  <option value="bm">Brand Manager</option>
                  <option value="sm_supervisor">Store Manager (Supervisor)</option>
                  <option value="sm_warehouse">Store Manager (Warehouse)</option>
                  <option value="waiter">Waiter</option>
                  <option value="cashier">Cashier</option>
                </select>
              </div>
              {{#ifEquals user_data.role "admin" }}
                <div class="form-group" id="ho_select_edit">
                  <label>Head Office <span class="red-star">*</span>:</label>
                  <select class="form-control" name="hoID" id="hoID">
                    <option>Choose Head Office</option>
                    {{#each HO}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>
              {{/ifEquals }}
              <div class="form-group" id="brand_select_edit">
                <label>Brand <span class="red-star">*</span>:</label>
                <select class="form-control" name="brand" id="brand_edit" data-url="/admin/get_store_list">
                  <option>Choose Brand</option>
                  {{#each brands}}
                  <option value="{{this._id}}" data-hoid="{{this.headOffice}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group" id="store_select_edit">
                <label>Store <span class="red-star">*</span>:</label>
                <select class="form-control" name="store" id="store_edit">
                  <option>Choose Store</option>
                  {{#each stores}}
                  <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label>Expire Date <span class="fa fa-calendar red-star">*</span>:</label>
                <input type="text" name="expire" id="expire_edit" class="form-control date" autocomplete="off">
              </div>
            </div>
            <div class="foot-btn-form-create">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="delete_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Data</h4>
        </div>
        <div class="modal-body">
          Apakah anda yakin untuk menghapus data ini?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
          <a  class="btn btn-danger" id="delete_footer" href="#">Ya</a>
        </div>
      </div>
    </div>
  </div>
